#attend-content {
    @media (min-width: 851px) {
        --pattern-height: 7;
    }

    .content-wrapper {
        h2 {
            margin-block-start: 0;
        }

        img {
            border-radius: 16px;
        }
    }

    .blurb-and-image:not(:first-child):not(:last-child) {
        margin-block: 0;
    }

    #health-and-safety {
        .content {
            gap: 0;
        }

        .float-end {
            @media (min-width: 850px) {
                float: inline-end;
                margin-inline-start: 40px;
            }
        }
    }

    #getting-there {
        background-color: #F5F5F5;

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 40px;

            &.reverse {
                flex-wrap: wrap-reverse;
            }

            .apps-row {
                display: flex;
                gap: 1rem;

                img {
                    margin: 0;
                    border-radius: 0;
                    transition: transform 0.05s ease-in;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.tram-D {
    padding: .2em .6em;
    color: #fff;
    background-color: #009933;
    border-radius: 4px;
}

.ter {
    padding: .2em .6em;
    color: #fff;
    background-color: #0060A1;
    border-radius: 4px;
}

.bus-2 {
    padding: .2em .6em;
    color: #fff;
    background-color: #E10D19;
    border-radius: 4px;
}
