body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #000;
}

.page-content {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        margin-inline: auto;
        padding-inline: 1rem;
        width: -webkit-fill-available;
        width: -moz-available;

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin-block: 60px;

            h2 {
                margin-block-start: 0;
            }

            &.blurb-and-image>*:first-child {
                flex: 1 1 300px;
            }

            &.blurb-and-image>*:nth-child(2) {
                flex: 1 1 300px;
            }

            &.blurb-and-image.reverse {
                flex-wrap: wrap-reverse;
            }

            img {
                align-self: center;
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000;
        background-size: cover;
        min-height: 400px;
        padding-block: 2em;

        color: #fff;

        .content-wrapper {
            gap: 40px;
        }

        .main {
            display: flex;
            flex-direction: row;
            place-content: end space-between;
            gap: 40px;
            flex-wrap: wrap;

            .intro {
                flex: 3;

                h1 {
                    margin: 0;
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 1;
                    color: #fff;
                }

                p {
                    margin-top: 8px;
                    font-size: 1.25rem;
                    line-height: 1.5;
                }
            }

            .info {
                flex: 1;
                min-width: fit-content;
                max-width: fit-content;
                background-color: #181A1F;
                border: 1px solid #656C76;
                border-radius: 16px;
                padding: 12px 24px;
                height: fit-content;
                line-height: 1;

                p {
                    margin: 0;
                }

                .date {
                    color: #fff;
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding-block-end: 4px;
                }

                .location {
                    color: #959595;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    text-align: right;
                }
            }
        }

        .cta-row {
            margin-inline-end: auto;
        }
    }
}
