.page-content {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        max-width: var(--page-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
        width: -webkit-fill-available;
        width: -moz-available;

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            margin-block: 60px;

            h2 {
                margin-block-start: 0;
            }

            &.blurb-and-image>*:first-child {
                flex: 1 1 300px;
            }

            &.blurb-and-image>*:nth-child(2) {
                flex: 1 1 300px;
            }

            &.blurb-and-image.reverse {
                flex-wrap: wrap-reverse;
            }

            img {
                align-self: center;
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 16px;
    }

    #hero {
        background-image: url('/assets/pattern.svg');
        background-repeat: repeat;
        position: relative;

        .hero-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media (max-width: 850px) {
                grid-template-columns: 1fr;
            }

            margin-inline: auto;

            .main {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            h1,
            p {
                color: #fff;
            }

            .hero-text-wrapper {
                display: grid;
                z-index: 0;
                background-color: #000;
                padding-block: 2rem;
                padding-inline: clamp(0px, 10vw, 40px);
                place-content: center end;

                .hero-text {
                    max-width: 500px;

                    h2 {
                        margin-block-start: 0;
                        font-size: 2.5rem;
                        font-weight: 400;
                        color: #A3AAB4;
                        line-height: 1.2;
                    }

                    p {
                        color: #fff;
                    }

                    .cta-row {
                        justify-content: start;
                    }
                }
            }
        }
    }
}
