#register-content {
    @media (min-width: 851px) {
        --pattern-height: 6;
    }

    #venue {
        background-color: #F5F5F5;
    }

    #health-and-safety {
        background-color: #000;
        color: #fff;
    }

    #tickets {
        .pretix-widget-wrapper {
            max-width: var(--page-max-width);
            margin-inline: auto;

            .pretix-widget-item-title {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .pretix-widget a {
            color: var(--color-link);
        }

        padding-block: 2rem 3rem;
    }

    .cta-row {
        justify-content: start;
    }
}
