#register-content {
    #venue {
        background-color: #F5F5F5;
    }

    #health-and-safety {
        background-color: #000;
        color: #fff;
    }

    #tickets {
        h2 {
            text-align: center;
        }

        .pretix-widget-wrapper {
            max-width: var(--page-max-width);
            margin-inline: auto;
        }

        padding-block: 2rem 3rem;
    }

    .cta-row {
        justify-content: start;
    }
}
