#sponsor-content {
    #benefits {

        .intro {
            max-width: 800px;
            margin-inline: auto;
            margin-block-end: 40px;
            text-align: center;

            h2 {
                font-size: 40px;
                margin-block: 0 20px;
            }

            p {
                font-size: 20px;
                line-height: 1.5;
            }
        }

        .benefits {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            justify-content: center;

            .benefit-card {
                border: 1px solid #D2D2D2;
                border-radius: 16px;
                padding: 24px;
                width: 350px;

                h3 {
                    text-align: center;
                    font-size: 20px;
                    margin: 0 0 16px 0;
                }

                p {
                    text-align: center;
                    line-height: 1.2;
                }
            }
        }
    }
}
