# SPDX-FileCopyrightText: 2025 The Matrix.org Foundation C.I.C.
#
# SPDX-License-Identifier: Apache-2.0

root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# GitHub workflows
[*.yml]
indent_size = 2
