:root {
    --bg-color: #000000;
    --fg-color: #ffffff;
    --secondary-color: #B8B8B8;
    --max-page-width: 960px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

section {
    padding: 5rem 1.5rem;
}

a {
    color: var(--fg-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
