:root {
    --bg-color: #000000;
    --fg-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

a {
    color: var(--fg-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
