{% macro talk_card(talk) %}
<div class="talk-card {{ talk.track | slugify }}">
    {% if talk.youtube %}
    <a class="infos" href="{% if talk.youtube %}{{ talk.youtube }}{% else %}#{% endif %}">
        <div class="thumbnail-container">
            <img src="/watch/{{ talk.title | slugify }}.webp" alt="">
        </div>
        <h2>{{ talk.title }}</h2>
        <p class="description">
            {{ talk.summary }}
            </dpiv>
            <div class="speaker">
                {{ talk.speakers | join(sep=", ") }}
            </div>
            <div class="talk-pills">
                <div class="pill {{ talk.track | slugify }}">{{ talk.track | title }}</div>
                <div class="pill room">{{ talk.room }}</div>
            </div>
    </a>
    {% else %}
    <div class="infos">
        <div class="thumbnail-container">
            <img src="/watch/{{ talk.title | slugify }}.webp" alt="">
        </div>
        <h2>{{ talk.title }}</h2>
        <p class="description">
            {{ talk.summary }}
        </p>
        <div class="speaker">
            {{ talk.speakers | join(sep=", ") }}
        </div>
        <div class="talk-pills">
            <div class="pill {{ talk.track | slugify }}">{{ talk.track | title }}</div>
            <div class="pill room">{{ talk.room }}</div>
            <div class="pill no-video">No Recording</div>
        </div>
    </div>
    {% endif %}
    <div class="additional-links">
        {% if talk.slides %}
        <a href="{{ talk.slides }}" class="slides">View slides <img src="/assets/slides-icon.svg" alt="" /></a>
        {% else %}
        <div>Slides not available</div>
        {% endif %}
    </div>
</div>
{% endmacro %}