{% macro talk_card(speakers, title, summary, thumbnail, track, room) %}
<div class="talk-card {{ track | slugify }}">
    <div class="thumbnail-container">
        <img src="/watch/{{ title | slugify }}.png" alt="">
    </div>
    <div class="info-container">
        <h2>{{ title }}</h2>
        <p>{{ summary }}</p>
        <div class="speaker">
            {{ speakers | join(sep=", ") }}
        </div>
        <div class="talk-pills">
            <div class="pill {{ track | slugify }}">{{ track | title }}</div>
            <div class="pill room">{{ room }}</div>
        </div>
    </div>
</div>
{% endmacro %}
