<footer id="site-footer">
    <div class="content-wrapper">
        <section>
            <h2>Information</h2>
            <ul>
                <li><a href="">Venue & Travel</a></li>
                <li><a href="">Health & Safety</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </section>
        <section>
            <h2>Contact</h2>
            <ul>
                <li><a href="">Mail</a></li>
                <li><a href="">Mastodon</a></li>
                <li><a href="">LinkedIn</a></li>
            </ul>
        </section>
        <section>
            <h2>Legal</h2>
            <ul>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </section>
    </div>
</footer>
