<footer id="site-footer">
    <div class="content-wrapper">
        <section>
            <h2>Information</h2>
            <ul>
                <li><a href="/register/#venue">Venue & Travel</a></li>
                <li><a href="/attend/#health-and-safety">Health & Safety</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </section>
        <section>
            <h2>Contact</h2>
            <ul>
                <li><a href="mailto:conference@foundation.matrix.org">Email</a></li>
                <li><a href="https://mastodon.matrix.org/@matrix" rel="me">Mastodon</a></li>
                <li><a href="https://www.linkedin.com/company/matrix-org/">LinkedIn</a></li>
            </ul>
        </section>
        <section>
            <h2>Legal</h2>
            <ul>
                <li><a href="https://matrix.org/legal/code-of-conduct/">Code of Conduct</a></li>
                <li><a href="https://matrix.org/legal/privacy-notice/">Privacy Policy</a></li>
            </ul>
        </section>
    </div>
</footer>
