---
import GettingThere from "../components/GettingThere.astro";
import HealthSafetyPolicy from "../components/HealthSafetyPolicy.astro";
import TextAndImage from "../components/TextAndImage.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Venue from "../img/Kaleidoscoop.png";
import Buffet from "../img/Buffet.png";
---

<style>
    #getting-there, #health-and-safety {
        background-color: #1a1a1a;
    }

    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }

    .items {
        max-width: var(--max-page-width);
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .smol {
        @media (min-width: 800px) {
            flex-basis: 40%;
        }
    }
</style>
<BaseLayout
    pageTitle="Useful Facts"
    description="Join us for The Matrix Conference from 20th to 23rd October, 2026. The four day conference will take place in Malmö, Sweden. Talks will be streamed live and virtual attendees will be able to ask speakers questions."
>
    <section id="venue">
        <TextAndImage imgSrc={Venue}>
            <h2>The Venue</h2>
            <p>
                The Matrix Conference 2026 will take place at <a
                    href="https://www.scandichotels.com/en/hotels/scandic-triangeln">Scandic Triangeln</a
                >, Triangeln 2, in Malmö, Sweden.
            </p>
            <p>
                TODO: We warmly recommend staying in the city center near tram line D
                or bus line 2 to both enjoy the conference and to socialize with
                attendees in the evening!
            </p>
        </TextAndImage>
    </section>

    <section id="online">
        <div class="content-wrapper">
            <h2>Online Experience</h2>
            <p>
                Matrix has a worldwide community of users, professionals, and hackers.
                We are excited to continue our tradition of running a hybrid conference, aiming to live stream and record all talks, and a real online participatory experience through Matrix chat rooms.
                You can find the previous year's recordings in our archive at <a href="https://2025.matrix.org/watch">2025.matrix.org</a>.
            </p>
            <p>
                If you would like to attend, but cannot financially afford to travel, please <a href="mailto:conference@foundation.matrix.org">reach out to us</a> to see if and how we can support you.
            </p>
        </div>
    </section>


    <section id="getting-there">
        <GettingThere />
    </section>

    <section id="good-to-know">
        <div class="items">
            <div class="item smol">
                <h2>Good to Know</h2>
                <p>
                    Sweden is a member of the Schengen area,
                    and so it is easy to travel there from many European countries.
                    We recommend checking your origin country's travel advice.
                    Also note that Sweden uses Swedish Crowns (SEK) and not Euro as currency.
                </p>
                <p>
                    We are happy to issue invitation letters and certificates of attendance.
                    Please contact us at <a href="mailto:conference@foundation.matrix.org">conference@foundation.matrix.org</a>.
                </p>
            </div>
            <div class="item smol">
                <h2>Where to Stay</h2>
                <p>
                    The Matrix Conference is hosted at the <a
                    href="https://www.scandichotels.com/en/hotels/scandic-triangeln">Scandic Triangeln</a
                > Hotel in the heart of Malmö.
                    A discount code for staying at any of Scandic's Malmö hotels is available
                    for Matrix Conference attendees with their ticket while supplies last.
                </p>
            </div>
        </div>
    </section>

    <section id="dietary-requirements">
        <TextAndImage imgSrc={Buffet}>
            <h2>Dietary Requirements</h2>
            <p>
                All meals and refreshments provided will cater to a wide variety
                of dietary needs and preferences clearly labelled with
                ingredients and allergen information at the event.
            </p>
            <p>
                If you have specific food allergies or requirements, please
                don’t hesitate to <a
                    href="mailto:conference@foundation.matrix.org">contact us</a
                >.
            </p>
        </TextAndImage>
    </section>

    <section id="health-and-safety">
        <HealthSafetyPolicy />
    </section>
</BaseLayout>
