---
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexHero from "../components/IndexHero.astro";
import Teaser2026 from "../components/Teaser2026.astro";
import Conf2024 from "../components/Conf2024.astro";
import WhatsNext from "../components/WhatsNext.astro";
---

<style>
    #hero {
        padding: 0;
    }

    #matrix-conf-2024 {
        background-image: url("/grey-repeating-lines.svg");
    }
</style>
<BaseLayout
    pageTitle="The Matrix Conference"
    description="Come along to see the latest and greatest progress in the Matrix world! From huge government deployments to the latest innovations, hang out with your peers to share the best learning, insights, projects and tips!"
>
    <section id="hero">
        <IndexHero />
    </section>
    <section id="teaser-2026">
        <Teaser2026 />
    </section>
    <section id="matrix-conf-2024">
        <Conf2024 />
    </section>
    <section id="whats-next">
        <WhatsNext />
    </section>
</BaseLayout>
