---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
    section#schedule {
        max-width: var(--max-page-width);
        margin-inline: auto;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-block-end: 2rem;
    }

    p {
        font-size: 1.125rem;
        margin-block: 1rem;
    }

    p a {
        color: var(--link-color);
    }
</style>
<BaseLayout
    pageTitle="Schedule of The Matrix Conference"
    description=" Whether you want to hear how an organization deployed Matrix at scale or learn what the engineers are doing to improve the protocol, the Matrix Conference has a track for you."
>
    <Hero
        title="Get Ready for the show!"
        description="Whether you want to hear how an organization deployed Matrix at scale or learn what the engineers are doing to improve the protocol, the Matrix Conference has a track for you."
        ctaText="Get Tickets"
        ctaHref="/register"
    />
    <section id="schedule">
        <h2>Schedule</h2>
        <p>
            It's still too early to unveil our schedule for 2025! The submitted
            proposals are currently in review. We are excited to announce the
            keynotes soon!
        </p>
        <p>
            Stay tuned by following us on <a href="https://matrix.org/blog/"
                >the Matrix Blog</a
            >, our <a href="https://uk.linkedin.com/company/matrix-org"
                >LinkedIn account</a
            > or by <a href="https://mastodon.matrix.org/@matrix"
                >following us on the fediverse</a
            >!
        </p>
    </section>
</BaseLayout>
