---
import RoughSchedule from "../components/RoughSchedule.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Talks2025 from "../components/Talks2025.astro";
import PrimaryCta from "../components/PrimaryCta.astro";
import CfP from "../components/CfP.astro";
---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }

    .box {
        border: 1px solid #636569;
        padding: 20px;
        background-color: var(--bg-color);
    }

    section:nth-child(even) {
        background-image: url("/grey-repeating-lines.svg");
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
        margin-block: 1rem;
    }
</style>
<BaseLayout
    pageTitle="Schedule of The Matrix Conference"
    description=" Whether you want to hear how an organization deployed Matrix at scale or learn what the engineers are doing to improve the protocol, The Matrix Conference has a track for you."
>
    <section id="schedule">
        <RoughSchedule />
        <div class="content-wrapper">
            <p>
                Stay tuned by following us on <a href="https://matrix.org/blog/"
                    >the Matrix Blog</a
                >, our <a href="https://uk.linkedin.com/company/matrix-org"
                    >LinkedIn account</a
                > or by <a href="https://mastodon.matrix.org/@matrix"
                    >following Matrix.org on the fediverse</a
                >!
            </p>
        </div>
    </section>
    <section id="cfp">
        <div class="content-wrapper box">
            <CfP />
        </div>
    </section>
    <section id="talks-2025">
        <Talks2025 />
    </section>
    <section id="tickets">
        <div class="content-wrapper box">
            <h2>Tickets</h2>
            <p>
                Whether you want to hear how an organization deployed Matrix at scale
                or learn what the engineers are doing to improve the protocol,
                The Matrix Conference has a track for you.
            </p>
            <PrimaryCta href="/register">Get Tickets</PrimaryCta>
        </div>
    </section>
</BaseLayout>
