---
import Conf2025 from "../components/Conf2025.astro";
import SponsorsGrid from "../components/SponsorsGrid.astro";
import TextAndImage from "../components/TextAndImage.astro";
import WhySponsor from "../components/WhySponsor.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Yan from "../img/Yan.png";
import PrimaryCta from "../components/PrimaryCta.astro";
---

<style>
    #matrix-conf-2025 {
        background-image: url("/grey-repeating-lines.svg");
    }
</style>
<BaseLayout
    pageTitle="Sponsor The Matrix Conference"
    description="Step into the spotlight and join us as a valued sponsor of The Matrix Conference 2025."
>
    <section id="shape-the-future">
        <TextAndImage imgSrc={Yan}>
            <h2>Shape the future of communication</h2>
            <p>Sponsor The Matrix Conference 2026!</p>
            <p>
                This is your chance to be at the forefront of innovation,
                connect with leaders, and make a lasting impact on the rapidly
                growing Matrix ecosystem.
            </p>
            <p>
                <PrimaryCta href="/matrix-conference-sponsors-deck-20250506.pdf">View Sponsoring Options</PrimaryCta>
            </p>
        </TextAndImage>
    </section>
    <section id="why-sponsor">
        <WhySponsor />
    </section>
    <section id="matrix-conf-2025">
        <Conf2025 />
    </section>
    <section id="sponsors">
        <SponsorsGrid />
    </section>
</BaseLayout>
