---
import Conf2024 from "../components/Conf2024.astro";
import Hero from "../components/Hero.astro";
import SponsorsGrid from "../components/SponsorsGrid.astro";
import TextAndImage from "../components/TextAndImage.astro";
import WhySponsor from "../components/WhySponsor.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Yan from "../img/Yan.png";
---

<style>
    #matrix-conf-2024 {
        background-image: url("/grey-repeating-lines.svg");
    }
</style>
<BaseLayout
    pageTitle="Sponsor The Matrix Conference"
    description="Step into the spotlight and join us as a valued sponsor of The Matrix Conference 2025."
>
    <Hero
        title="Become a sponsor"
        description="Step into the spotlight and join us as a valued sponsor of The Matrix Conference 2025."
        ctaText="Get the brochure"
        ctaHref="/matrix-conference-sponsors-deck-20250506.pdf"
    />
    <section id="shape-the-future">
        <TextAndImage imgSrc={Yan}>
            <h2>Shape the future of communication</h2>
            <p>Sonsor the Matrix Conference 2025!</p>
            <p>
                This is your chance to be at the forefront of innovation,
                connect with leaders, and make a lasting impact on the rapidly
                growing Matrix ecosystem.
            </p>
            <p>
                <a href="/matrix-conference-sponsors-deck-20250506.pdf"
                    >Get the brochure</a>
            </p>
        </TextAndImage>
    </section>
    <section id="why-sponsor">
        <WhySponsor />
    </section>
    <section id="matrix-conf-2024">
        <Conf2024 />
    </section>
    <section id="sponsors">
        <SponsorsGrid />
    </section>
</BaseLayout>
