---
import SponsorsGrid from "../components/SponsorsGrid.astro";
import WatchCard from "../components/WatchCard.astro";
import Pill from "../components/Pill.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import raw_talks from '../../static/watch/sessions.json';
const all_talks = raw_talks.toSorted((a:any,b:any) => new Date(a.Start).valueOf() - new Date(b.Start).valueOf());
var talks = [];

function incrementDate(tomorrow:Date, days:number) {
    return tomorrow.setDate(tomorrow.getDate() + days);
}

function formatDate(day:Date) {
    var dow = '';
    switch(day.getDay()) {
        case 4: dow = 'Thursday'; break;
        case 5: dow = 'Friday'; break;
        case 6: dow = 'Saturday'; break;
    }
    return dow + ' ' + day.getDate();
}

const track_order : {[index: string]:number} = Object.freeze({
    "Keynote": 0,
    "Public Sector": 1,
    "Healthcare" :2,
    "Security & Encryption": 3,
    "Beyond Chat": 4,
    "Business with Matrix": 5,
    "Hands-on": 6,
    "Matrix in Education": 7,
    "Privacy, Policy & Moderation": 8,
    "Bots & Bridges": 9
});

function compareTrack(a:any,b:any) {
    if (a.Track === null) return 1;
    if (b.Track === null) return -1;
    return track_order[a.Track.en] - track_order[b.Track.en];
}

for (let i = 0; i < 3; i++) {
    talks.push(
        all_talks.filter((a:any) =>
            new Date(a.Start).valueOf() >= incrementDate(new Date("2025-10-16T00:00+02:00"),i) &&
            new Date(a.Start).valueOf() < incrementDate(new Date("2025-10-17T00:00+02:00"),i)
        ).toSorted(compareTrack));
}
---

<style lang="scss">
    section {
        padding: clamp(2.5rem, 10vw, 5rem) 1.5rem;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: var(--max-page-width);
        margin-inline: auto;
    }
    .content-wrapper#talks {
        max-width: 1122px;
    }
    #hero {
        background-image: url(/grey-repeating-lines.svg);
        height: 100px;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 120%;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        color: var(--fg-color);
        font-size: 2rem;
        line-height: 120%;
    }
    a {
        color: var(--link-color);
        text-decoration: none;
    }

    #filters {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        justify-content: center;
    }

    .date-separator {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 48px;
        margin-bottom: 48px;

        .date {
            flex: none;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--text-secondary)
        }

        .line {
            flex: 1;
            height: 0px;
            border-top: 2px solid var(--border);
        }
    }

    .talks-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        row-gap: 48px;
        column-gap: 24px;
    }

    #info {
        background-image: url(/grey-repeating-lines.svg);
    }
</style>

<BaseLayout
    pageTitle="Watch the Conference Recordings"
    description="Follow along the Matrix Conference even if you couldn't make it to Strasbourg"
>
    <section id="hero">
        <div class="content-wrapper">
            <h1>Watch the talks</h1>
        </div>
    </section>

    <section id="recordings">
        <div class="content-wrapper">
            <div id="filters">
                <Pill Type="button" label="Keynote" />
                <Pill Type="button" label="Public Sector" />
                <Pill Type="button" label="Healthcare" />
                <Pill Type="button" label="Security & Encryption" />
                <Pill Type="button" label="Beyond Chat" />
                <Pill Type="button" label="Business with Matrix" />
                <Pill Type="button" label="Hands-on" />
                <Pill Type="button" label="Matrix in Education" />
                <Pill Type="button" label="Privacy, Policy & Moderation" />
                <Pill Type="button" label="Bots & Bridges" />
            </div>
        </div>
        <div class="content-wrapper" id="talks">
            {talks.map((days_talks) => (
            <div class="date-separator">
                <div class="date">{formatDate(new Date(days_talks[0].Start))}<sup>th</sup> October</div>
                <div class="line"></div>
            </div>
            <div class="talks-grid">
                {days_talks.map((talk:any) => (
                    <WatchCard talk={talk} />
                ))}
            </div>
            ))}
        </div>
    </section>

    <section id="info">
        <div class="content-wrapper">
            <p>
                The recordings are available on <a
                    href="https://media.ccc.de/c/matrix-conf-2025"
                    >media.ccc.de</a
                > or <a
                    href="https://www.youtube.com/playlist?list=PLl5dnxRMP1hUgnYEbpEsEEhIqY_KlO3NG"
                    >YouTube</a
                >.
            </p>
            <p>
                All videos and slides linked or published here are available under <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/"
                >CC BY-SA 4.0</a>.
                Thank you to all community-provided mirrors, including <a
                    href="https://video.innovationhub-act.org/search?tagsOneOf=matrix-conf-2025"
                >Innovation Hub Peertube</a>.
            </p>
            <p>
                We will update this page soon™ with the talks' slides!
            </p>
        </div>
    </section>

    <section id="sponsors">
        <SponsorsGrid />
    </section>
</BaseLayout>
