---
import SponsorsGrid from "../components/SponsorsGrid.astro";
import Rooms from "../components/Rooms.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style lang="scss">
    @use "sass:color";

    :root {
        --bg-color: #000000;
        --fg-color: #ffffff;
        --max-page-width: 960px;
        --link-color: #0999ff;
        --purple: #ae7fe9;
        --blue: #75f4f4;
        --green: #a6ffa1;
        --yellow: #f6ae2d;
        --red: #f45b69;
        --gradient: linear-gradient(
            340deg,
            var(--red) 3%,
            var(--yellow) 25%,
            var(--green) 48%,
            var(--blue) 70%,
            var(--purple) 93%
        );
        --text-primary: #fff;
        --text-secondary: #b8b8b8;
        --bg-primary: #000;
        --bg-card: #1a1a1a;
        --border: #3c3f44;
        --border-interactive: #636569;
        --link-text: #0999ff;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            avenir next,
            avenir,
            segoe ui,
            helvetica neue,
            Adwaita Sans,
            Cantarell,
            Ubuntu,
            roboto,
            noto,
            helvetica,
            arial,
            sans-serif;
    }
    body {
        background-color: var(--bg-color);
        color: var(--fg-color);
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        margin: 0;
    }
    section {
        padding: clamp(2.5rem, 10vw, 5rem) 1.5rem;
    }
    section#stream-list {
        padding-top: 0px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: var(--max-page-width);
        margin-inline: auto;
    }
    #hero {
        background-image: url(/grey-repeating-lines.svg);
        height: 100px;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 120%;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        color: var(--fg-color);
        font-size: 2rem;
        line-height: 120%;
    }
    a {
        color: var(--link-color);
        text-decoration: none;
    }
    .stream-item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .stream-detail h2 {
        margin-bottom: 8px;
    }
    .ccc-player {
        width: 100%;
        aspect-ratio: 16/9;
    }

    #filters {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        justify-content: center
    }

    .pill {
        line-height: 1.5;
        display: inline-block;
        border: 2px solid transparent;
        border-radius: 2px;
        padding: 0em .5em;

        &:focus {
            outline: 1px solid black;
        }
    }

    #filters>.pill {
        cursor: pointer;
    }

    .pill.keynote {
        $text-color: #000;
        $pill-color: #fff;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: -2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.public-sector {
        $text-color: #000;
        $pill-color: #0dbd8b;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.healthcare {
        $text-color: #fff;
        $pill-color: #1e1b4b;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.security-encryption {
        $text-color: #000;
        $pill-color: #f45b69;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.beyond-chat {
        $text-color: #000;
        $pill-color: #12dede;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.business {
        $text-color: #000;
        $pill-color: #f6ae2d;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.hands-on {
        $text-color: #000;
        $pill-color: #ae7fe9;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.education {
        $text-color: #000;
        $pill-color: #c2d115;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.privacy-policy-moderation {
        $text-color: #fff;
        $pill-color: #003399;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }

    .pill.bots-bridges {
        $text-color: #000;
        $pill-color: #e136f3;
        color: $text-color;
        background-color: $pill-color;
        &:hover {
            background-color: color.adjust($pill-color, $lightness: 2.5%);
        }
        &.selected {
            color: $pill-color;
            background-color: $text-color;
            border: 1px solid $pill-color;
            &:hover {
                background-color: color.adjust($text-color, $lightness: 15%);
            }
        }
    }
</style>

<BaseLayout
    pageTitle="Watch the Conference Recordings"
    description="Follow along the Matrix Conference even if you couldn't make it to Strasbourg"
>
    <section id="hero">
        <div class="content-wrapper">
            <h1>Watch the talks</h1>
        </div>
    </section>

    <section id="recordings">
        <div class="content-wrapper">
            <div id="filters">
                <button class="pill keynote">Keynote</button>
                <button class="pill public-sector">Public Sector</button>
                <button class="pill healthcare">Healthcare</button>
                <button class="pill security-encryption">Security &amp; Encryption</button>
                <button class="pill beyond-chat">Beyond Chat</button>
                <button class="pill business">Business with Matrix</button>
                <button class="pill hands-on">Hands-On</button>
                <button class="pill education">Matrix in Education</button>
                <button class="pill privacy-policy-moderation">Privacy, Policy and Moderation</button>
                <button class="pill bots-bridges">Bots &amp; Bridges</button>
            </div>
        </div>
    </section>

    <section id="info">
        <div class="content-wrapper">
            <p>
                The recordings are available on <a
                    href="https://media.ccc.de/c/matrix-conf-2025"
                    >media.ccc.de</a
                > or <a
                    href="https://www.youtube.com/playlist?list=PLl5dnxRMP1hUgnYEbpEsEEhIqY_KlO3NG"
                    >YouTube</a
                >.
            </p>
            <p>
                All videos and slides linked or published here are available under <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/"
                >CC BY-SA 4.0</a>.
                Thank you to all community-provided mirrors, including <a
                    href="https://video.innovationhub-act.org/search?tagsOneOf=matrix-conf-2025"
                >Innovation Hub Peertube</a>.
            </p>
            <p>
                We will update this page soon™ with the talks' slides!
            </p>
        </div>
    </section>

    <section id="sponsors">
        <SponsorsGrid />
    </section>
</BaseLayout>
