---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
    :root {
        --bg-color: #000000;
        --fg-color: #ffffff;
        --secondary-color: #b8b8b8;
        --max-page-width: 960px;
        --link-color: #0999ff;
        --purple: #ae7fe9;
        --blue: #75f4f4;
        --green: #a6ffa1;
        --yellow: #f6ae2d;
        --red: #f45b69;
        --gradient: linear-gradient(
            340deg,
            var(--red) 3%,
            var(--yellow) 25%,
            var(--green) 48%,
            var(--blue) 70%,
            var(--purple) 93%
        );
        --text-primary: #fff;
        --text-secondary: #b8b8b8;
        --bg-primary: #000;
        --bg-card: #1a1a1a;
        --border: #3c3f44;
        --border-interactive: #636569;
        --link-text: #0999ff;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            avenir next,
            avenir,
            segoe ui,
            helvetica neue,
            Adwaita Sans,
            Cantarell,
            Ubuntu,
            roboto,
            noto,
            helvetica,
            arial,
            sans-serif;
    }
    body {
        background-color: var(--bg-color);
        color: var(--fg-color);
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        margin: 0;
    }
    section {
        padding: clamp(2.5rem, 10vw, 5rem) 1.5rem;
    }
    section#stream-list {
        padding-top: 0px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: var(--max-page-width);
        margin-inline: auto;
    }
    #hero {
        background-image: url(/grey-repeating-lines.svg);
        height: 100px;
    }
    #discussion .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    h1 {
        font-size: 2.5rem;
        line-height: 120%;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        color: var(--fg-color);
        font-size: 2rem;
        line-height: 120%;
    }
    #discussion h2 {
        margin-top: 0px;
        color: var(--secondary-color);
        font-size: 0.875rem;
        text-transform: uppercase;
    }
    a {
        color: var(--link-color);
        text-decoration: none;
    }
    .cell {
        padding: 20px;
        background-color: var(--bg-color);
        box-shadow: 0 0 0 1px #636569;
    }
    .stream-item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .stream-detail h2 {
        margin-bottom: 8px;
    }
</style>

<BaseLayout
    pageTitle="Watch the Conference Live "
    description="Follow along the Matrix Conference even if you couldn't make it to Strasbourg"
>
    <section id="hero">
        <div class="content-wrapper">
            <h1>Livestreams</h1>
        </div>
    </section>

    <section id="discussion">
        <div class="content-wrapper">
            <div class="grid">
                <div class="cell">
                    <h2>Join the Space</h2>
                    <a
                        href="https://matrix.to/#/%23matrix-conference-2025%3Amatrix.org"
                        >#matrix-conference-2025:matrix.org</a
                    >
                </div>
                <div class="cell">
                    <h2>Join the General room</h2>
                    <a href="https://matrix.to/#/%23general-mc25%3Amatrix.org"
                        >#general-mc25:matrix.org</a
                    >
                </div>
            </div>
        </div>
    </section>

    <section id="stream-list">
        <div class="content-wrapper">
            <div class="stream-item">
                <div class="stream-detail">
                    <h2>Ada Byron room talks</h2>
                    <a href="#">insert link</a>
                </div>
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/y67eHtWDn4I"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen=""></iframe>
            </div>

            <div class="stream-item">
                <div class="stream-detail">
                    <h2>Alan Turing room talks</h2>
                    <a href="#">insert link</a>
                </div>
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/y67eHtWDn4I"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen=""></iframe>
            </div>

            <div class="stream-item">
                <div class="stream-detail">
                    <h2>Lynn Conway room talks</h2>
                    <a href="#">insert link</a>
                </div>
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/y67eHtWDn4I"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
</BaseLayout>
