---
import SponsorsGrid from "../components/SponsorsGrid.astro";
import Rooms from "../components/Rooms.astro";
import WatchCard from "../components/WatchCard.astro";
import Pill from "../components/Pill.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style lang="scss">
    :root {
        --bg-color: #000000;
        --fg-color: #ffffff;
        --max-page-width: 960px;
        --link-color: #0999ff;
        --purple: #ae7fe9;
        --blue: #75f4f4;
        --green: #a6ffa1;
        --yellow: #f6ae2d;
        --red: #f45b69;
        --gradient: linear-gradient(
            340deg,
            var(--red) 3%,
            var(--yellow) 25%,
            var(--green) 48%,
            var(--blue) 70%,
            var(--purple) 93%
        );
        --text-primary: #fff;
        --text-secondary: #b8b8b8;
        --bg-primary: #000;
        --bg-card: #1a1a1a;
        --border: #3c3f44;
        --border-interactive: #636569;
        --link-text: #0999ff;
        font-family:
            -apple-system,
            BlinkMacSystemFont,
            avenir next,
            avenir,
            segoe ui,
            helvetica neue,
            Adwaita Sans,
            Cantarell,
            Ubuntu,
            roboto,
            noto,
            helvetica,
            arial,
            sans-serif;
    }
    body {
        background-color: var(--bg-color);
        color: var(--fg-color);
        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
        margin: 0;
    }
    section {
        padding: clamp(2.5rem, 10vw, 5rem) 1.5rem;
    }
    section#stream-list {
        padding-top: 0px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: var(--max-page-width);
        margin-inline: auto;
    }
    .content-wrapper#talks {
        max-width: 1122px;
    }
    #hero {
        background-image: url(/grey-repeating-lines.svg);
        height: 100px;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 120%;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        color: var(--fg-color);
        font-size: 2rem;
        line-height: 120%;
    }
    a {
        color: var(--link-color);
        text-decoration: none;
    }
    .stream-item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .stream-detail h2 {
        margin-bottom: 8px;
    }
    .ccc-player {
        width: 100%;
        aspect-ratio: 16/9;
    }

    #filters {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        justify-content: center;
        margin-bottom: 48px;
    }

    .date-separator {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 48px;

        .date {
            flex: none;
            font-size: 20px;
            font-weight: 700;
            color: var(--text-secondary)
        }

        .line {
            flex: 1;
            height: 0px;
            border-top: 2px solid var(--border);
        }
    }

    .talks-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 358px);
        row-gap: 48px;
        column-gap: 24px;
    }
</style>

<BaseLayout
    pageTitle="Watch the Conference Recordings"
    description="Follow along the Matrix Conference even if you couldn't make it to Strasbourg"
>
    <section id="hero">
        <div class="content-wrapper">
            <h1>Watch the talks</h1>
        </div>
    </section>

    <section id="recordings">
        <div class="content-wrapper">
            <div id="filters">
                <Pill Type="button" label="Keynote" />
                <Pill Type="button" label="Public Sector" />
                <Pill Type="button" label="Healthcare" />
                <Pill Type="button" label="Security &amp; Encryption" />
                <Pill Type="button" label="Beyond Chat" />
                <Pill Type="button" label="Business with Matrix" />
                <Pill Type="button" label="Hands-On" />
                <Pill Type="button" label="Matrix in Education" />
                <Pill Type="button" label="Privacy, Policy and Moderation" />
                <Pill Type="button" label="Bots &amp; Bridges" />
            </div>
        </div>
        <div class="content-wrapper" id="talks">
            <div class="date-separator">
                <div class="date">Wednesday 15<sup>th</sup> October</div>
                <div class="line"></div>
            </div>
            <div class="talks-grid">
                {items.map((item) => (
                    <WatchCard talk={item} />
                ))}
            </div>
        </div>
    </section>

    <section id="info">
        <div class="content-wrapper">
            <p>
                The recordings are available on <a
                    href="https://media.ccc.de/c/matrix-conf-2025"
                    >media.ccc.de</a
                > or <a
                    href="https://www.youtube.com/playlist?list=PLl5dnxRMP1hUgnYEbpEsEEhIqY_KlO3NG"
                    >YouTube</a
                >.
            </p>
            <p>
                All videos and slides linked or published here are available under <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/"
                >CC BY-SA 4.0</a>.
                Thank you to all community-provided mirrors, including <a
                    href="https://video.innovationhub-act.org/search?tagsOneOf=matrix-conf-2025"
                >Innovation Hub Peertube</a>.
            </p>
            <p>
                We will update this page soon™ with the talks' slides!
            </p>
        </div>
    </section>

    <section id="sponsors">
        <SponsorsGrid />
    </section>
</BaseLayout>
