---
import PrimaryCta from "./PrimaryCta.astro";
---

<style>
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
        margin-block: 1rem;
    }
</style>
<h2>Call for Proposals</h2>
<div>
    <p>Whether you want to talk about decentralisation, encryption, Matrix internals, safety, sovereignty of digital communication, community, collaboration in the public sector, UX, or showcase your fun experiments, there is a track for you at #MatrixConf.</p>
    <p>We welcome proposals from individuals innovating around Matrix, organisations working with Matrix, and everyone contributing to digital sovereignty.</p>
</div>
<PrimaryCta
    href="https://cfp.2026.matrix.org/matrix-conference-2026/cfp"
    flexBottom={true}
>
Submit Talk Proposals
</PrimaryCta>
