---

---

<style>
    .current-conference-banner {
        align-items: center;
        background-color: #f6ae2d;
        color: var(--bg-color);
        font-size: 16px;
        font-weight: 700;
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 16px;
        position: sticky;
        top: 92px;
        z-index: 9999;
    }

    .cta {
        background-color: var(--bg-primary);
        color: #f6ae2d;
        padding: 8px 16px;
    }

    .cta:hover {
        color: #fff;
    }

    @media (min-width: 768px) {
        .current-conference-banner {
            padding: 16px 40px;
        }

        .cta {
            padding: 13px 16px;
        }
    }
</style>

<div class="current-conference-banner">
    <div>
        You're viewing the 2025 conference.
    </div>
    <a class="cta" href="https://conference.matrix.org/">
        Current conference&nbsp;&gt;
    </a>
</div>
