---

---

<style>
    nav {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        font-weight: 700;
        gap: 40px;
    }

    a {
        color: var(--fg-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
<nav>
    <a href="/">
        <img alt="Home Page" />
    </a>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/attend">Attend</a></li>
        <li><a href="/sponsor">Sponsor</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
        <li><a href="/attend#tickets">Get Tickets</a></li>
    </ul>
</nav>
