---
import PrimaryCta from "./PrimaryCta.astro";
---

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 1rem 2rem;
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        font-weight: 700;
        gap: 40px;
    }

    li {
        display: grid;
        place-content: center;
    }
</style>
<nav>
    <a href="/">
        <img src="/matrix-logo.svg" alt="Home Page" />
    </a>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/attend">Attend</a></li>
        <li><a href="/sponsor">Sponsor</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/volunteer">Volunteer</a></li>
        <li><PrimaryCta href="/attend#tickets">Get Tickets</PrimaryCta></li>
    </ul>
</nav>
