---

---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }

    h3 {
        margin-block: 2.5rem 0rem;
    }
</style>
<div class="content-wrapper">
    <h2>Health, Safety and Accessibility</h2>
    <h3>Code of Conduct</h3>
    <p>
        The <a href="https://matrix.org/legal/code-of-conduct/"
            >Code of Conduct of The Matrix.org Foundation</a
        > applies during the event. We expect attendees, speakers, volunteers and
        staff to be excellent to each other.
    </p>

    <h3>Accessibility</h3>
    <p>
        The Matrix Conference will be wheelchair accessible. We are aiming to
        get live captioning in place, but it will mostly depend on the amount of
        support we get from sponsors. If you know organisations willing to help
        make the event more accessible, send them to our <a href="/sponsor"
            >sponsors page</a
        >!
    </p>

    <h3>Photo Policy</h3>
    <p>
        The choice of wanting to get your picture taken or not can play a big role in feeling comfortable attending an event.
        Our system allows you to indicate your preference by wearing your conference badge on a lanyard of either the Yes Photo or No Photo color.
        There will additionally be specifically indicated zones at the conference where photography is explicitly allowed or disallowed, for example our stages will generally be on camera for our livestream.
    </p>
    <p>
        Please keep this in mind when taking pictures, do not point your camera at anyone who is opting out, and review your photos before publishing them.
        We are excited for the amazing pictures you will take.
        Please share them with us on socials using the hashtag #MatrixConf26!
    </p>

    <h3>Vaccinations & rapid tests are encouraged</h3>
    <p>
        We encourage The Matrix Conference attendees to stay up to date with the
        vaccinations that are available to them where they live. We also
        encourage attendees to use rapid tests (antigen tests) before they
        arrive and while they are at the conference. The Foundation hopes, but
        may not be able, to supply rapid tests on-site. Please <a
            href="mailto:conference@foundation.matrix.org"
            >contact us</a
        > if you can support us ensuring everyone's health.
    </p>

    <h3>Easy refunds</h3>
    <p>
        We expect people to stay home if they may be contagious. If you are
        feeling sick or exhibiting symptoms of COVID-19, or test positive for
        COVID-19, prior to the start of the conference, or on any day of the
        conference, please contact us at <a
            href="mailto:conference@foundation.matrix.org"
            >conference@foundation.matrix.org</a
        >. We will exchange your ticket type for an online ticket or grant you a
        refund.
    </p>
    <p>
        On-site attendees will be able to watch talks online while they recover,
        wait for the results of a COVID test or sort out any kind of unexpected
        allergy or “weird cold.”
    </p>
</div>
