---

---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }
</style>

<div class="content-wrapper">
    <h2>Health &amp; Safety</h2>
    <p>
        We're going to have maximised ventilation, monitor air quality, and the
        place will be wheelchair accessible. The <a
            href="https://matrix.org/legal/code-of-conduct/"
            >Code of Conduct of The Matrix.org Foundation</a
        > applies during the event. We expect attendees, speakers, volunteers and
        staff to be excellent to each other.
    </p>
    <p>
        <a href="/attend#health-and-safety">Read our policy</a>
    </p>
</div>
