---

---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }

    h3 {
        margin-block: 2.5rem 0rem;
    }
</style>
<div class="content-wrapper">
    <h2>Health, Safety and Accessibility</h2>
    <h3>Code of Conduct</h3>
    <p>
        The <a href="https://matrix.org/legal/code-of-conduct/"
            >Code of Conduct of The Matrix.org Foundation</a
        > applies during the event. We expect attendees, speakers, volunteers and
        staff to be excellent to each other.
    </p>

    <h3>Dietary Restrictions</h3>
    <p>
        All the food provided at the Matrix Conference will accommodate a wide
        range of dietary restrictions. All foods will be labelled at the event.
        If you have food allergies, please reach out to us at <a
            href="mailto:conference@foundation.matrix.org"
            >conference@foundation.matrix.org</a
        > so we can try to accomodate you.
    </p>

    <h3>Accessibility</h3>
    <p>
        The Matrix Conference will be wheelchair accessible. We are aiming to
        get live captioning in place, but it will mostly depend on the amount of
        support we get from sponsors. If you know organisations willing to help
        make the event more accessible, send them to our <a href="/sponsor"
            >sponsors page</a
        >!
    </p>

    <h3>Vaccinations & rapid tests are encouraged</h3>
    <p>
        We encourage the Matrix Conference attendees to stay up to date with the
        vaccinations that are available to them where they live. We also
        encourage attendees to use rapid tests (antigen tests) before they
        arrive and while they are at the conference. The Foundation hopes, but
        may not be able, to supply rapid tests on-site.
    </p>

    <h3>Easy refunds</h3>
    <p>
        We expect people to stay home if they may be contagious. If you are
        feeling sick or exhibiting symptoms of COVID-19, or test positive for
        COVID-19, prior to the start of the conference, or on any day of the
        conference, please contact us at <a
            href="mailto:conference@foundation.matrix.org"
            >conference@foundation.matrix.org</a
        >. We will exchange your ticket type for an online ticket or grant you a
        refund.
    </p>
    <p>
        On-site attendees will be able to watch talks online while they recover,
        wait for the results of a COVID test or sort out any kind of unexpected
        allergy or “weird cold.”
    </p>
</div>
