---

---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin-block-end: 3rem;
    }

    .schedule-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border: 1px solid #636569;
        gap: 1px;
    }

    @media (max-width: 700px) {
        .schedule-grid {
            grid-template-columns: 1fr;
        }
    }

    .schedule-grid > * {
        padding: 1rem;
        box-shadow: 0 0 0 1px #636569;
    }

    .day {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .day .date {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .day .time {
        color: var(--secondary-color);
    }

    p {
        margin-block: 0.5em;
    }
</style>
<div class="content-wrapper">
    <h2>Schedule</h2>

    <div class="schedule-grid">
        <div class="day">
            <span class="date">Tuesday 20th</span>
            <span class="time">13:00 - 18:00</span>
        </div>
        <div class="events">
            <h3>Networking Event</h3>
            <p>
                A self-organised and open gathering at the venue to get to know the participants,
                the community, and shared areas of interest.
            </p>
            <p>
                We start with a common kick-off session where we form the first clusters
                and a rough agenda. Attendees arriving during the afternoon can join at any time!
            </p>
        </div>

        <div class="day">
            <div class="date">Tuesday 20th</div>
            <div class="time">18:00 - 23:00</div>
        </div>
        <div class="events">
            <h3>Welcome Party</h3>
            <p>
                Joins us in the city center of Malmö to kick off the Conference with a bang!
            </p>
            <p>There will be vegetarian and vegan options.</p>
<p>Please see our <a href="/sponsor">sponsoring packages</a> for sponsoring the Welcome Party.<p>
        </div>

        <div class="day">
            <div class="date">Wednesday 21st - Thursday 22nd</div>
            <div class="time">10:00 - 18:00</div>
        </div>
        <div class="events">
            <h3>Conference Days</h3>
            <p>
                The detailed schedule of the conference will be available in TODO August.
            </p>
            <p>
                There will be an all-day buffet included in the ticket price, including breakfast in the morning and lunch around noon, as well as coffee and cold drinks.
            </p>
        </div>

        <div class="day">
            <div class="date">Friday 23rd</div>
            <div class="time">12:00 - 18:00</div>
        </div>
        <div class="events">
            <h3>Community Hackathon</h3>
            <p>
                TODO: Join us at the Malmö hackerspace <a
                    href="https://lodis.se/">Lodis</a>
                for a day of collaborating on Matrix projects
                and putting all the ideas we just had into action!
            </p>
        </div>
    </div>
</div>
