---

---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
        border: 1px solid #636569;
        padding: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    @media (max-width: 680px) {
        /* Number obtained by manually testing */
        .content-wrapper {
            grid-template-columns: 1fr;
        }

        .left-col {
            grid-row: 2;
        }

        img {
            grid-row: 1;
        }
    }

    .left-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
        color: var(--secondary-color);
    }

    a {
        font-size: 1.125rem;
        font-weight: 700;
    }

    a img {
        display: inline-block;
        margin-inline-start: 0.4rem;
    }
</style>
<div class="content-wrapper">
    <div class="left-col">
        <h2>2024 Talks</h2>
        <p>
            Catch up on last year’s conference by watching our recorded
            sessions!
        </p>
        <p>
            Discover what other organisations, communities, and projects within
            the Matrix community have been working on.
        </p>
        <a href="">Watch now<img src="/pixel-chevron.svg" alt="" /></a>
    </div>
    <img src="2024-talks.png" alt="" />
</div>
