---
import PrimaryCta from "./PrimaryCta.astro";
import CfP from "./CfP.astro";
---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .item {
        border: 1px solid #636569;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
    }

    .smol {
        @media (min-width: 800px) {
            flex-basis: 40%;
        }
    }

    .highlight {
        border: 1px solid;
        border-image: linear-gradient(
            314deg,
            #f45b69 15.02%,
            #f6ae2d 32.83%,
            #a6ffa1 50.64%,
            #75f4f4 68.44%,
            #ae7fe9 86.25%
        ) 30;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
        margin-block: 1rem;
    }
</style>
<div class="content-wrapper">
    <div class="items">
        <div class="item highlight">
            <CfP />
        </div>
        <div class="item smol">
            <h2>Facts</h2>
            <p>
                The Conference travels to Scandic Triangeln in Malmö in 2026.
                Learn all about the venue, how to get there, where to stay,
                and any partner offers available with your #MatrixConf ticket.
            </p>
            <PrimaryCta
                href="/facts"
                flexBottom={true}
            >
            Practical Info
            </PrimaryCta>
        </div>
        <div class="item smol">
            <h2>Become a Sponsor</h2>
            <p>Step into the spotlight and join us as a valued sponsor of The Matrix Conference 2026. Our updated sponsors brochure is coming in March.</p>
            <PrimaryCta
                href="mailto:conference@foundation.matrix.org"
                flexBottom={true}
            >
                Email us
            </PrimaryCta>
        </div>
        <!--
        <div class="item smol">
            <h2>Volunteer</h2>
            <p>
                Team work makes the dream work:
                Volunteers join the team in making The Matrix Conference into reality.
                Sign up early and receive a free ticket and exclusive crew merch.
            </p>
            <PrimaryCta
                href="/volunteer"
                flexBottom={true}
            >
            Learn more
            </PrimaryCta>
        </div>
        -->
        <div class="item smol">
            <h2>Join the Chat</h2>
            <p>Connect and exchange with other attendees and the organising team.</p>
            <PrimaryCta
                href="https://matrix.to/#/#events-wg:matrix.org"
                flexBottom={true}
            >
            #events-wg:matrix.org
            </PrimaryCta>
        </div>
    </div>
</div>
