---

interface Props {
    youtube: string | undefined;
}

const { youtube } = Astro.props;

---

<style lang="scss">
    .watch-card-content {
        display: block;
        text-decoration: none;
        width: 100%;
    }
</style>

{
    youtube ?
    <a class="watch-card-content" href={youtube}>
        <slot />
    </a> :
    <div>
        <slot />
    </div>
}
