---

---

<style>
    .content-wrapper {
        max-width: var(--max-page-width);
        margin-inline: auto;
        border: 1px solid #636569;
        gap: 1px;

        display: grid;
        grid-template repeat(4, auto) / 1fr 1fr;
    }

    .content-wrapper > * {
        box-shadow: 0 0 0 1px #636569; /* box-shadow is used to achieve a border-collapse effect within the grid */
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    .full-width {
        grid-column: 1 / span 2;
        background-color: #1A1A1A;
    }

    .become-sponsor {
        text-align: center;
        font-weight: 700;
    }

</style>

<div class="content-wrapper">
    <div class="why-sponsor full-width">
        <h2>Why sponsor</h2>
        <p>
            The Matrix Conference is more than just an event - it's a global
            gathering of the community dedicated to building open, secure, and
            interoperable communication for everyone.
        </p>
        <p>
            By sponsoring, you're not just supporting a conference; you're also
            investing in the future of open and digital sovereign communication
            free from big tech and vendor lock-in!
        </p>
    </div>
    <div>
        <h3>Expand your reach</h3>
        <p>Make sure your brand name is known in the context of Matrix.</p>
        <p>
            Marketing opportunities include promotion ahead of events, keynote,
            booth, digital and physical signage plus mentions in announcements
            on-site.
        </p>
    </div>
    <div>
        <h3>Showcase your innovation</h3>
        <p>Get your product or service in front of the decision makers.</p>
        <p>
            Demonstrate your projects during a keynote to gain valuable
            feedback, generate interest, and position your expertise in the
            ecosystem.
        </p>
    </div>
    <div>
        <h3>Build powerful relationships</h3>
        <p>
            All access on-site: create meaningful connections with like-minded
            organisations that use Matrix.
        </p>
        <p>
            Get invited to our exclusive behind the scenes events. Or why not
            host your own lunch or event at the conference?
        </p>
    </div>
    <div>
        <h3>Connect with top talent</h3>
        <p>
            Meet and engage with some of the brightest minds in the Matrix
            community.
        </p>
        <p>
            Sponsorship opens doors to unique recruitment opportunities,
            allowing you to attract skilled professionals who are passionate
            about open technology.
        </p>
    </div>
    <div class="become-sponsor full-width">
        <a href="">Become a sponsor of The Matrix Conference 2025</a>
    </div>
</div>
