{% extends "page.html" %}
{% block content %}
<div id="about-page" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>About the conference</h1>
                    <p>
                        The Matrix Conference is organized by the Matrix
                        Foundation and its sponsors. Several tracks spread on
                        several days to discuss topics ranging from how Matrix
                        powers the public sector to how encryption works.
                    </p>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
        <div class="hero-empty"></div>
    </div>
    <div id="details">
        <div class="content-wrapper">
            <div class="content blurb-and-image reverse">
                <img src="/images/amandine.webp" width="550" height="380" alt="">
                <div class="col">
                    <h2>What is the Matrix Conference?</h2>
                    <p>In summer 2022, the vibrant Matrix community scrambled together to organise the Matrix Community
                        Summit. Hackers, volunteers and developers working on Matrix could join together at c-base to
                        spend some quality time together and share their work.</p>

                    <p>The team behind the Community Summit and The Matrix.org Foundation joined forces to build on the
                        success of the former, and extend it to audiences from the public and private sector.</p>
                </div>
            </div>
            <div class="content blurb-and-image">
                <div class="col">
                    <h2>Who attends?</h2>
                    <p>We’re building on the success of the developer-centric Matrix Community Summit to reach new
                        audiences in the public and private sector.</p>

                    <p>Several organisations from the public and private sectors that rely on Matrix have already shared
                        their enthusiasm for the conference
                        and will send their teams. Don’t miss your chance to miss prospective partners, customers, or
                        the next company you will work for!</p>
                </div>
                <img src="/images/people-of-matrix.webp" width="550" height="380" alt="">
            </div>
            <div class="content blurb-and-image reverse">
                <img src="/images/fosdem2024-devroom.webp" width="550" height="380" alt="">
                <div class="col">
                    <h2>Why attend?</h2>
                    <p>The Matrix Conference is meant to be the place where hackers, volunteers, vendors and consumer
                        organisations meet, share their interests, and start working together.</p>
                    <p>The conference is THE place to learn, show, hack, hire and contribute to Matrix projects. Whether
                        you’re an individual or an organisation, this is where the ecosystem blends in.</p>
                    <div class="cta-row">
                        <a class="cta">Registration opening soon</a>
                        <a href="/sponsor" class="cta">Sponsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
