{% extends "page.html" %}
{% block content %}
<div id="about-page" class="page-content">
    <div id="hero">
        <div class="content-wrapper">
            <div class="main">
                <div class="intro">
                    <h1>About the conference</h1>
                    <p>Join us for first ever Matrix Conf in September 19 - 22. The four days conference will take place
                        at Mitosis Labs. Talks will be streamed live and virtual attendees will be able to ask speakers
                        questions.</p>
                </div>
                <div class="info">
                    <p class="date">19-22 September</p>
                    <p class="location">Berlin, Germany</p>
                </div>
            </div>
        </div>
    </div>
    <div id="details">
        <div class="content-wrapper">
            <div class="content blurb-and-image reverse">
                <img src="/images/amandine.webp" width="550" height="380" alt="">
                <div class="col">
                    <h2>What is the Matrix Conf?</h2>
                    <p>In summer 2023, the vibrant Matrix community scrambled together to organise the Matrix Community
                        Summit. Hackers, volunteers and developers working on Matrix could join together at C-Base to
                        spend some quality time together and share their work.</p>

                    <p>The team behind the Community Summit and the Matrix.org Foundation joined forces to build on the
                        success of the former, and extend it to audiences from the public and private sector.</p>
                </div>
            </div>
            <div class="content blurb-and-image">
                <div class="col">
                    <h2>Who attends?</h2>
                    <p>We’re building on the success of the developer-centric Matrix Community Summit to reach new
                        audiences in the public and private sector.</p>

                    <p>Several organisations that rely on Matrix have already shared their enthusiasm for the conference
                        and will send their teams. Don’t miss your chance to miss prospective partners, customers, or
                        the next company you will work for!</p>
                </div>
                <img src="/images/fosdem-2024.webp" width="550" height="380" alt="">
            </div>
            <div class="content blurb-and-image reverse">
                <img src="/images/fosdem2024-devroom.webp" width="550" height="380" alt="">
                <div class="col">
                    <h2>Why attend?</h2>
                    <p>The Matrix Conference is mean to be the place where hackers, volunteers, vendors and consumer
                        organisations meet, share their interests, and start working together.</p>
                    <p>The Conference is THE place to learn, show, hack, hire and contribute to Matrix projects. Whether
                        you’re an individual or an organisation, this is where the ecosystem blends in.</p>
                    <div class="cta-row">
                        <a href="" class="cta">Register</a>
                        <a href="" class="cta">Sponsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
