{% extends "page.html" %}
{% block content %}
<div id="attend-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Attend the conference</h1>
                    <p>Join us for the Matrix Conference from {{ config.extra.short_date }}. The four day conference
                        will take place
                        in {{ config.extra.short_location }}. Talks will be streamed live and virtual attendees will be
                        able to ask
                        speakers questions.</p>
                    <div class="cta-row">
                        <a href="/register#tickets" class="cta primary">Get your tickets</a>
                        <a href="#getting-there" class="cta">Venue Info</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="getting-there">
        <div class="content-wrapper">
            <div class="content">
                <div class="col">
                    <h2>Getting There</h2>
                    <div>
                        <h3>By Train</h3>
                        <p>
                            Strasbourg is a well connected city. The train station will lead you to the city centre,
                            right next to the picturesque neighborhood of Petite France. The train station itself is
                            connected to Tramway Line <span class="tram-D">D</span> or bus line <span
                                class="bus-2">2</span> that lead to the venue.
                        </p>
                        <h3>By Plane</h3>
                        <p>
                            Strasbourg's Airport (SXB) is another option for attendees coming from farther. The <span
                                class="ter">TER</span> train connects the Airport to Strasbourg's city center in about
                            30 min. A taxi ride will get you there in bout 20 min.
                        </p>
                        <h3>Public Transportation</h3>
                        <p>
                            Strasbourg has a dense public transportation network. From the central train station,
                            Tramway Line <span class="tram-D">D</span> or bus line <span class="bus-2">2</span> lead to
                            the venue. For non-french speakers, tramway might be an easier solution.
                        </p>
                        <p>
                            You can book a ticket for public transport using the CTS App. The app is available in
                            English.
                        </p>
                        <div class="apps-row">
                            <a href="https://apps.apple.com/fr/app/cts-transports-strasbourg/id1241895758"><img
                                    src="/assets/download-app-store.svg" alt="Download CTS on the Apple App Store."
                                    width="180" height="60"></a>
                            <a href="https://play.google.com/store/apps/details?id=fr.cts.strasbourg.ugo"><img
                                    src="/assets/download-google-play.svg" alt="Download CTS on the Google Play Store."
                                    width="200" height="60"></a>
                        </div>
                    </div>
                </div>
                <img src="/images/strasbourg-train-station.webp" width="550" height="380" alt="" />
            </div>
        </div>
    </div>
    <div id="health-and-safety">
        <div class="content-wrapper">
            <div class="content">
                <h2>Health, Safety and Accessibility</h2>
                <div>
                    <h3>Code of Conduct</h3>
                    <p>
                    <p>The <a href="https://matrix.org/legal/code-of-conduct/">Code of Conduct of The Matrix.org
                            Foundation</a> applies during the event. We expect attendees, speakers, volunteers and staff
                        to be excellent to each other.</p>
                    </p>

                    <h3>Dietary Restrictions</h3>
                    <p>All the food provided at the Matrix Conference will accommodate a wide range of dietary
                        restrictions. All foods will be labelled at the event. If you have food allergies,
                        please reach out to us
                        at <a href="mailto:conference@foundation.matrix.org">conference@foundation.matrix.org</a> so we
                        can try to accomodate you.
                    </p>

                    <h3>Accessibility</h3>
                    <p>The Matrix Conference will be wheelchair accessible. We are aiming to get live captioning in
                        place, but it will mostly depend on the amount of support we get from sponsors. If you know
                        organisations willing to help make the event more accessible, send them to our <a
                            href="/sponsor">sponsors page</a>!</p>

                    <h3>Vaccinations & rapid tests are encouraged</h3>
                    <p>We encourage the Matrix Conference attendees to stay up to date with the vaccinations that are
                        available to them where they live. We also encourage attendees to use rapid tests (antigen
                        tests) before
                        they arrive and while they are at the conference. The Foundation hopes, but may not be able, to
                        supply rapid tests on-site.
                    </p>

                    <h3>Easy refunds</h3>
                    <p>We expect people to stay home if they may be contagious. If you are feeling sick or exhibiting
                        symptoms of COVID-19, or test positive for COVID-19, prior to the start of the conference, or on
                        any
                        day of the conference, please contact us at <a
                            href="mailto:conference@foundation.matrix.org">conference@foundation.matrix.org</a>. We will
                        exchange your ticket
                        type
                        for an online ticket or grant you a refund.</p>
                    <p>On-site attendees will be able to watch talks online while they recover, wait for the results of
                        a
                        COVID test or sort out any kind of unexpected allergy or “weird cold.”</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}
