{% extends "page.html" %}
{% block content %}
<div id="attend-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Attend the conference</h1>
                    <p>Join us for the Matrix Conference this October. The four day conference will
                        take place in Strasbourg, France. Talks will be streamed live and virtual attendees will be able to ask speakers questions.</p>
                    <div class="cta-row">
                        <a href="/register" class="cta primary">Get Tickets</a>
                        <a href="#getting-there" class="cta">Venue Info</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="health-and-safety">
        <div class="content-wrapper">
            <div class="content">
                <h2>Health, Safety and Accessibility</h2>
                <div>
                    <h3>Masks are required</h3>
                    <img class="float-end" src="/images/masked-audience-2024.avif" width="500" height="380" alt="">
                    <p>You need to wear a mask during your time at The Matrix Conference. That includes sessions,
                        keynotes, booths, open spaces, and sprints. Exceptions are:
                    </p>
                    <ul>
                        <li>Outdoor spaces</li>
                        <li>Indoors while actively consuming food or beverages</li>
                        <li>Speakers while presenting</li>
                        <li>While necessary for communicating with someone who is hearing impaired when the ability to
                            see the mouth is essential for communication</li>
                        <li>Very briefly to take photos</li>
                    </ul>
                    <p>Masks must be worn over the nose and mouth and must be made of a tight-knit, non-permeable
                        material. N95, FFP2 or equivalent masks are recommended. Alternatives to face coverings such as
                        face
                        shields, loose gaiters, scarves, bandanas, and face coverings with ventilation are not permitted
                        to be
                        used as masks. The Foundation will supply masks on-site.</p>

                    <h3>Vaccinations & rapid tests are encouraged</h3>
                    <p>We encourage The Matrix Conference attendees to stay up to date with the vaccinations that are
                        available to them where they live. We also encourage attendees to use rapid tests (antigen
                        tests) before
                        they arrive and while they are at the conference. The Foundation hopes, but may not be able, to
                        supply rapid tests on-site.
                    </p>

                    <h3>Easy refunds</h3>
                    <p>We expect people to stay home if they may be contagious. If you are feeling sick or exhibiting
                        symptoms of COVID-19, or test positive for COVID-19, prior to the start of the conference, or on
                        any
                        day of the conference, please contact us at <a
                            href="mailto:conference@foundation.matrix.org">conference@foundation.matrix.org</a>. We will
                        exchange your ticket
                        type
                        for an online ticket or grant you a refund.</p>
                    <p>On-site attendees will be able to watch talks online while they recover, wait for the results of
                        a
                        COVID test or sort out any kind of unexpected allergy or “weird cold.”</p>

                    <h3>Dietary Restrictions</h3>
                    <p>All the food provided at The Matrix Conference will accommodate a wide range of dietary
                        restrictions. All foods will be labelled at the event. If you have food allergies,
                        please reach out to us
                        at <a href="mailto:conference@foundation.matrix.org">conference@foundation.matrix.org</a>.</p>

                    <h3>Accessibility</h3>
                    <p>The Matrix Conference will be wheelchair accessible. We are aiming to get live captionning in
                        place, but it will mostly depend on the amount of support we get from sponsors. If you know
                        organisations willing to help make the event more accessible, send them to our <a
                            href="/sponsor">sponsors page</a>!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="getting-there">
        <div class="content-wrapper">
            <div class="content blurb-and-image reverse">
                <img src="/images/mitosis-garden.webp" width="500" height="380" alt="">
                <div class="col">
                    <h2>Getting There</h2>
                    <p>tbd</p>
                </div>
            </div>
            <div class="content blurb-and-image">
                <div class="col">
                    <h2>Central Station</h2>
                    <p>tbd</p>
                </div>
                <img src="/images/Hauptbahnhof.webp" width="500" height="380" alt="">
            </div>
            <div class="content blurb-and-image reverse">
                <img src="/images/berlin-brandenburg.webp" width="500" height="380" alt="">
                <div class="col">
                    <h2>Airport</h2>
                    <p>tbd</p>
                </div>
            </div>
        </div>
    </div>
    <div id="food-guide">
        <div class="content-wrapper">
            <h2>Food guide</h2>
            tbd
        </div>
    </div>
    </div>
</div>
{% endblock content %}
