{% extends "page.html" %}
{% block content %}
<div id="attend-content" class="page-content">
    <div id="hero">
        <div class="content-wrapper">
            <div class="main">
                <div class="intro">
                    <h1>Attend the conference</h1>
                    <p>Join us for first ever Matrix Conf in September 19 - 22. The four days conference will take place
                        at Mitosis Labs. Talks will be streamed live and virtual attendees will be able to ask speakers
                        questions.</p>
                </div>
                <div class="info">
                    <p class="date">19-22 September</p>
                    <p class="location">Berlin, Germany</p>
                </div>
            </div>
            <div class="cta-row">
                <a href="/register" class="cta primary">Get Tickets</a>
                <a href="#getting-there" class="cta">Venue info</a>
            </div>
        </div>
    </div>
    <div id="health-and-safety">
        <div class="content-wrapper">
            <div class="content">
                <h2>Health & Safety</h2>
                <div>
                    <h3>Masks are requred</h3>
                    <img class="float-end" src="https://via.placeholder.com/500x380.png" alt="">
                    <p>We are asking you to wear a mask during your time at the Matrix Conferences. That includes talks,
                        the
                        booths, BoFs and sprints. Exceptions are:
                    </p>
                    <ul>
                        <li>Outdoor spaces</li>
                        <li>Indoors while actively consuming food or beverages</li>
                        <li>Speakers while presenting</li>
                        <li>While necessary for communicating with someone who is hearing impaired when the ability to
                            see
                            the mouth is essential for communication</li>
                        <li>Very briefly to take photos</li>
                    </ul>
                    <p>Masks must be worn over the nose and mouth and must be made of a tight-knit, non-permeable
                        material.
                        N95, FFP2 or equivalent masks are recommended. Alternatives to face coverings such as face
                        shields,
                        loose gaiters, scarves, bandanas, and face coverings with ventilation are not permitted to be
                        used
                        as
                        masks.</p>

                    <h3>Vaccinations & Rapid tests are encouraged</h3>
                    <p>We encourage Matrix Conference attendees to stay up to date with the vaccinations that are
                        available
                        to them where they live. We also encourage attendees to use rapid tests (antigen tests) before
                        they
                        arrive and while they are at the Conference. The Foundation will not supply rapid tests on-site.
                    </p>

                    <h3>Easy Refunds</h3>
                    <p>We expect people to stay home if they may be contagious. If you are feeling sick or exhibiting
                        symptoms of COVID-19, or test positive for COVID-19, prior to the start of the conference, or on
                        any
                        day of the conference, please contact us at conference@matrix.org. We will exchange your ticket
                        type
                        for an online ticket or grant you a refund.</p>
                    <p>Onsite attendees will be able to watch talks online while they recover, wait for the results of a
                        Covid test or sort out any kind of unexpected allergy or “weird cold.”</p>

                    <h3>Dietary Restrictions</h3>
                    <p>All the food provided at the Matrix Conference will be vegan, which accommodates a wide range of
                        dietary restrictions. All foods will be labelled at the event. If you have food allergies,
                        please
                        reach out to us at conference@matrix.org</p>
                </div>
            </div>
        </div>
    </div>
    <div id="getting-there">
        <div class="content-wrapper">
            <div class="content blurb-and-image reverse">
                <img src="https://via.placeholder.com/550x380.png" alt="">
                <div class="col">
                    <h2>Getting There</h2>
                    <p>Mitosis LAB is located at Sonnenallee 67, 12045 Berlin – Neukölln. You can get there using either
                        the U-Bahn, S-Bahn, or Bus.
                    </p>
                    <ul>
                        <li>U-Bahn: U7 stopping at Rathaus Neukölln. From there it is a 500 meter walk.</li>
                        <li>S-Bahn: Ringbahn S41 & S42 stopping at Sonnenallee. From S Sonnenallee you can take bus line
                            M41 four stops to Fuldastraße, which is 120 meters down the street from the venue.</li>
                        <li>Bus lines: the nearest bus stop is Fuldastraße on line M41.</li>
                        <li>Night Bus: N7, stopping at Weichselstraße.</li>
                </div>
            </div>
            <div class="content blurb-and-image">
                <div class="col">
                    <h2>Central Station</h2>
                    <p>We encourage all attendees to privilege the train when it’s a viable option for them, as a
                        collective effort to reduce our carbon footprint.</p>

                    <p>To come from the Central Station (Hauptbahnhof), take bus line M41 at the station itself, and
                        stop at Fuldastraße. Take in to consideration that the line M41 is often delayed due to traffic.
                    </p>
                </div>
                <img src="https://via.placeholder.com/550x380.png" alt="">
            </div>
            <div class="content blurb-and-image reverse">
                <img src="https://via.placeholder.com/550x380.png" alt="">
                <div class="col">
                    <h2>Berlin Brandenburg Airport</h2>
                    <p>From the Airport, starting from Rathaus Neukölln take subway line U7 in the direction of Rudow
                        all the way to stop “U Rudow”. From there, you can either take express bus line X7 or X71 to
                        BER.</p>

                    <p>Berlin is divided into multiple tariff zones for public transport. Make sure to buy a ticket
                        valid for tariff zone A, B and C. BER is in zone C while the city center is zone A. Our venue is
                        located in Zone A.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
