{% extends "skel.html" %}
{% block head_extra %}
<meta name="description"
    content="The homepage of the matrix.org website. Chat securely with your family, friends, community, or build great apps with Matrix!">
{% endblock head_extra %}
{% block content %}
<div id="index-content" class="page-content">
    <div id="hero">
        <div class="content-wrapper">
            <div class="main">
                <h1>Matrix<br />Conference</h1>
                <div class="info">
                    <p class="date">19-22 September</p>
                    <p class="location">Berlin, Germany</p>
                </div>
            </div>
            <div class="cta-row">
                <a href="/register" class="cta primary">Register</a>
                <a href="mailto:conference@foundation.matrix.org" class="cta">Contact us</a>
            </div>
        </div>
    </div>
    <div id="main-appeal">
        <div class="content-wrapper">
            <div class="content blurb-and-image">
                <div class="info">
                    <h2>Learn, connect and contribute</h2>
                    <p>Matrix is first and foremost built by its community. Learn what everyone is working on, share or
                        hack on projects, or hire experienced members.</p>
                    <p>The Matrix Conference is meant for everyone, and is accessible. Check out our <a
                            href="">Accessibility and Health & Safety Pledge</a>.</p>
                    <a href="" class="cta">Volunteer</a>
                </div>
                <img src="/assets/frontpage/josh-speaker.png" width="545" height="400" alt="">
            </div>
        </div>
    </div>
    <div id="curved-separator"></div>
    <div id="call-to-sponsor">
        <div class="content-wrapper">
            <div class="content">
                <div class="visual-call">Become a sponsor</div>
                <div class="info">
                    <p>Partnering with the Matrix Conference provides a unique opportunity to connect with the Matrix
                        experts in the community. Don’t miss your chance to sponsor the flagship event of the Matrix
                        ecosystem.</p>
                    <a href="/sponsor" class="cta light-bg">Sponsor</a>
                </div>
            </div>
        </div>
    </div>
    <div id="what-to-expect">
        <div class="content-wrapper">
            <div class="content">
                <div class="intro">
                    <h2>Scale your project up</h2>
                    <p>Hundreds of attendees come to the Matrix Conference to learn what is happening in the ecosystem,
                        show what they’re about, and find out where the ecosystem is going. Whether you’re a developer,
                        SRE, project manager, student or something in-between, the Matrix Conference is your opportunity
                        to…</p>
                </div>
                <div class="benefits">
                    <div class="benefit-card">
                        <h3>Learn</h3>
                        <p>Learn about the latest trends in Matrix, and what are the upcoming major projects</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Show</h3>
                        <p>Tell the world what problem your project is solving, and get others excited about it</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Hack</h3>
                        <p>Find others to work with you on your project. Make it grow, and reach new people.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Hire</h3>
                        <p>Meet the experts in the Matrix community, and hire them to work on your project</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Contribute</h3>
                        <p>Find exciting projects that suit your needs, and collaborate with them to shape Matrix how
                            you want.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="programme">
        <div class="content-wrapper">
            <div class="content">
                <h2>Schedule</h2>
                <table>
                    <tr>
                        <td>Thursday 19, September</td>
                        <td>Barcamp</td>
                    </tr>
                    <tr>
                        <td>Friday 20, September</td>
                        <td>Keynotes, BoFs, Breakout Sessions</td>
                    </tr>
                    <tr>
                        <td>Saturday 21, September</td>
                        <td>Keynotes, BoFs, Breakout Sessions</td>
                    </tr>
                    <tr>
                        <td>Sunday 22, September</td>
                        <td>Sprints</td>
                    </tr>
                </table>
                <a href="/programme" class="cta">Full Schedule</a>
            </div>
        </div>
    </div>
    <div id="sponsors"></div>
</div>
{% endblock content %}
