<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="twitter:widgets:csp" content="on" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@matrixdotorg" />
    <meta name="twitter:creator" content="@matrixdotorg" />
    <meta property="og:title" content="Matrix Conference" />
    <meta property="og:description" content="The Matrix Conference is happening soon" />
    <meta name="description" content="The Matrix Conference is happening soon" />
    <meta property="og:image" content="https://matrix.org/images/opengraph.png" />
    <title>
        {%- block html_title %}Matrix Conf{% endblock html_title -%}
    </title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <link rel="stylesheet" href={{ get_url(path="/style.css" , cachebust=true) }} />
    <script defer data-domain="matrix.org" src="https://plausible.io/js/script.tagged-events.js"></script>
</head>

<body>
    <main class="page-content">
        <div id="hero">
            <div class="content-wrapper">
                <div class="main">
                    <div class="intro">
                        <h1>Matrix Conf</h1>
                        <p>The Matrix Foundation organises the first official Matrix Conference in September 19 - 22, at
                            Mitosis Labs in Berlin.</p>
                        <p>We will provide more information for sponsors and attendees soon, but you can already send
                            your proposals!</p>
                    </div>
                    <div class="info">
                        <p class="date">19-22 September</p>
                        <p class="location">Berlin, Germany</p>
                    </div>
                </div>
                <div class="cta-row">
                    <a href="https://cfp.matrix.org" class="cta primary">Call for Proposals</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
