{% extends "skel.html" %}
{% block head_extra %}
<meta name="description"
    content="The Matrix Conference is the annual flagship event for people who care about free and open, secure, decentralised communications.">
{% endblock head_extra %}
{% block content %}
<div id="index-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="pattern-wrapper">
                <div class="logo-wrapper">
                    <div class="logo-bg"><img class="conference-logo" src="/assets/the-matrix-conference-logo.svg"
                            alt="Matrix Conference"></div>
                </div>
            </div>
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>{{ config.extra.short_date }}<br />{{ config.extra.short_location }}</h1>
                    <p>Matrix is first and foremost built by its community. Learn what everyone is working on, share or
                        hack
                        on
                        projects, or hire experienced members.</p>
                    <div class="cta-row">
                        <a href="{{ config.extra.hero_button_url }}"
                            class="cta primary plausible-event-name={{ config.extra.hero_button_event }}">
                            {{ config.extra.hero_button_title }}</a>
                        <a href="/sponsor" class="cta plausible-event-name=Index+Hero+Sponsor">Sponsor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-appeal">
        <div class="content-wrapper">
            <div class="content blurb-and-image">
                <div class="info">
                    <h2>2024 is a wrap. Watch the talks now!</h2>
                    <p>We thank everyone who participated, both in-person and remotely. We'll see you autumn 2025 in Strasbourg!</p>
                    <p>Please enjoy and share the 2024 recordings and join us again next year. Book your sponsorship for 2025 now.</p>
                    <div class="cta-row">
                        <a href="/watch" class="cta">Watch Now</a>
                        <a href="/sponsor" class="cta">Sponsor</a>
                    </div>
                </div>
                <img src="/images/people-of-matrix.webp" width="545" height="400" alt="">
            </div>
        </div>
    </div>
    <div id="curved-separator"></div>
    <div id="call-to-sponsor">
        <div class="content-wrapper">
            <div class="content">
                <div class="visual-call">Become a sponsor 2025</div>
                <div class="info">
                    <p>Partnering with The Matrix Conference provides a unique opportunity to connect with the Matrix
                        experts in the community. Don’t miss your chance to sponsor the flagship event of the Matrix
                        ecosystem.</p>
                    <a href="/sponsor" class="cta light-bg">Sponsor</a>
                </div>
            </div>
        </div>
    </div>
    <div id="what-to-expect">
        <div class="content-wrapper">
            <div class="content">
                <div class="intro">
                    <h2>Scale your project up</h2>
                    <p>Hundreds of attendees come to The Matrix Conference to learn what is happening in the ecosystem,
                        show what they’re about, and find out where the ecosystem is going. Whether you’re a developer,
                        SRE, project manager, student or something in-between, The Matrix Conference is your opportunity
                        to…</p>
                </div>
                <div class="benefits">
                    <div class="benefit-card">
                        <h3>Learn</h3>
                        <p>Learn about the latest trends in Matrix, and what are the upcoming major projects</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Show</h3>
                        <p>Tell the world what problem your project is solving, and get others excited about it</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Hack</h3>
                        <p>Find others to work with you on your project. Make it grow, and reach new people.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Hire</h3>
                        <p>Meet the experts in the Matrix community, and hire them to work on your project</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Contribute</h3>
                        <p>Find exciting projects that suit your needs, and collaborate with them to shape Matrix how
                            you want.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="programme">
        <div class="content-wrapper">
            <div class="content">
                <h2>Schedule</h2>
                <table>
                    <tr>
                        <td>Thursday 19, September</td>
                        <td>BarCamp</td>
                    </tr>
                    <tr>
                        <td>Friday 20, September</td>
                        <td>Keynotes, Open Spaces, Breakout Sessions</td>
                    </tr>
                    <tr>
                        <td>Saturday 21, September</td>
                        <td>Keynotes, Open Spaces, Breakout Sessions</td>
                    </tr>
                    <tr>
                        <td>Sunday 22, September</td>
                        <td>Sprints and Community Meetings</td>
                    </tr>
                </table>
                <a href="https://2024.matrix.org/schedule" class="cta">View Schedule</a>
            </div>
        </div>
    </div>
    <div id="sponsors"></div>
</div>
{% endblock content %}
