{% extends "skel.html" %}
{% block html_title %}Matrix.org - {{ page.title }}{% endblock html_title %}
{% block head_extra %}
{% if page.extra.meta_description %}
<meta name="description" content="{{ page.extra.meta_description }}">
{% endif %}
<link rel="stylesheet" type="text/css" href="https://tickets.plainschwarz.com/matrixconf2024/widget/v1.css" ;
    crossorigin>
<script type="text/javascript" src="https://tickets.plainschwarz.com/widget/v1.en.js" ; async crossorigin></script>
{% endblock head_extra %}
{% block content %}
<article class="content">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    {{ page.content | safe }}
</article>
{% endblock content %}
