{% extends "skel.html" %}
{% block html_title %}The Matrix Conference - {{ page.title }}{% endblock html_title %}
{% block head_extra %}
{% if page.extra.meta_description %}
<meta name="description" content="{{ page.extra.meta_description }}">
{% endif %}
<link rel="stylesheet" type="text/css" href="https://pretix.eu/matrix/matrix-conf-2025/widget/v2.css" crossorigin>
<script type="text/javascript" src="https://pretix.eu/widget/v2.en.js" async crossorigin></script>
{% endblock head_extra %}
{% block content %}
<article class="content">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    {{ page.content | safe }}
</article>
{% endblock content %}
