{% extends "page.html" %}
{% block content %}
<div id="register-content">
    <div id="hero">
        <div class="content-wrapper">
            <div class="main">
                <div class="intro">
                    <h1>Get your tickets now</h1>
                    <p>Join us for first ever Matrix Conf in September 19 - 22. The four days conference will take place
                        at Mitosis Labs. Talks will be streamed live and virtual attendees will be able to ask speakers
                        questions.</p>
                </div>
                <div class="info">
                    <p class="date">19-22 September</p>
                    <p class="location">Berlin, Germany</p>
                </div>
            </div>
            <div class="cta-row">
                <a href="#tickets" class="cta primary">Get Tickets</a>
                <a href="#venue" class="cta">Venue info</a>
            </div>
        </div>
    </div>
    <div id="meeting-you">
        <div class="content-wrapper">
            <div class="content">
                <div class="col">
                    <h2>We're looking forward to meeting you!</h2>
                    <p>The official Matrix Conference is a great place for developers, architects, sysadmins, community
                        leaders,
                        from the public and private sector, as well as students and anyone interested in open, secure,
                        decentralised communication.</p>
                </div>
                <img src="https://via.placeholder.com/550x260.png" alt="">
            </div>
        </div>
    </div>
    <div id="venue">
        <div class="content-wrapper">
            <div class="content">
                <img src="https://via.placeholder.com/550x260.png" alt="">
                <div class="col">
                    <h2>Venue</h2>
                    <p>The Matrix Conference will happen at Mitosis Labs, in Berlin. The venue is situated in an old
                        factory, repurposed as “LABS” to organise events.</p>
                    <p>With several levels and an access to the garden, this venue is the perfect place to get together,
                        present new ideas and products, and bond together.</p>
                    <a href="/attend#getting-there" class="cta">Getting there</a>
                </div>
            </div>
        </div>
    </div>
    <div id="health-and-safety">
        <div class="content-wrapper">
            <div class="content">
                <div class="col">
                    <h2>Health & Safety</h2>
                    <p>We’re going to have top notch ventilation, and the place will be wheelchair accessible.</p>
                    <p>The Code of Conduct of the Matrix.org Foundation applies during the event. We expect attendees,
                        speakers, volunteers and staff to be excellent to each other.</p>
                    <a href="/attend#health-and-safety" class="cta light-bg">Read our pledge</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tickets">
        <p>TODO Pretix embed</p>
    </div>
</div>
{% endblock content %}
