{% extends "page.html" %}
{% block content %}
<div id="register-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Get your tickets now</h1>
                    <p>Join us for first ever Matrix Conference in September 19–22. The four day conference will take
                        place
                        at Mitosis LAB in Berlin. Talks will be streamed live and virtual attendees will be able to ask
                        speakers
                        questions.</p>
                    <div class="cta-row">
                        <a href="#tickets" class="cta primary">Get Tickets</a>
                        <a href="#venue" class="cta">Venue Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="meeting-you">
        <div class="content-wrapper">
            <div class="content blurb-and-image">
                <div class="col">
                    <h2>We're looking forward to meeting you!</h2>
                    <p>The Matrix Conference is a great place for developers, architects, sysadmins, community
                        leaders,
                        from the public and private sector, as well as students and anyone interested in open, secure,
                        decentralised communication.</p>
                </div>
                <img src="/images/mitosis-presentation.webp" width="500" height="380" alt="">
            </div>
        </div>
    </div>
    <div id="venue">
        <div class="content-wrapper">
            <div class="content blurb-and-image reverse">
                <img src="/images/mitosis-lab-4.webp" width="500" height="380" alt="">
                <div class="col">
                    <h2>Venue</h2>
                    <p>The Matrix Conference will happen at Mitosis LAB, in Berlin. The venue is situated in an old
                        factory, repurposed as “LABS” to organise events.</p>
                    <p>With several levels and an access to the garden, this venue is the perfect place to get together,
                        present new ideas and products, and bond together.</p>
                    <div class="cta-row">
                        <a href="/attend#getting-there" class="cta">Getting There</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="health-and-safety">
        <div class="content-wrapper">
            <div class="content blurb-and-image">
                <div class="col">
                    <h2>Health & Safety</h2>
                    <p>We’re going to have maximise ventilation, monitor air quality, require masks indoors, and the
                        place will be wheelchair accessible.</p>
                    <p>The Code of Conduct of The Matrix.org Foundation applies during the event. We expect attendees,
                        speakers, volunteers and staff to be excellent to each other.</p>
                    <div class="cta-row">
                        <a href="/attend#health-and-safety" class="cta light-bg">Read Our Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tickets">
        <div class="content-wrapper">
            <h2>Tickets</h2>
            <pretix-widget event="https://tickets.plainschwarz.com/matrixconf2024/"
                single-item-select="button"></pretix-widget>
            <noscript>
                <div class="pretix-widget">
                    <div class="pretix-widget-info-message">
                        JavaScript is disabled in your browser. To access our ticket shop without JavaScript, please <a
                            target="_blank" rel="noopener" href="https://tickets.plainschwarz.com/matrixconf2024/">click
                            here</a>.
                    </div>
                </div>
            </noscript>
        </div>
    </div>
</div>
{% endblock content %}
