{% extends "page.html" %}
{% block head_extra %}
<script type="text/javascript" src="https://cfp.matrix.org/matrixconf2024/widgets/schedule.js"></script>
{% endblock head_extra %}

{% block content %}
<div id="programme-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Exciting talks</h1>
                    <p>Join us for the Matrix Conference this October. The four day conference will take place
                        in Strasbourg, France. Talks will be streamed live and virtual attendees will be able to ask
                        speakers questions.</p>
                    <div class="cta-row">
                        <a href="/sponsor" class="cta primary">Sponsor us</a>
                        <a href="/attend/#getting-there" class="cta">Venue Info</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="programme">
        <div class="content-wrapper">
            <div class="content">
                <h2>Schedule</h2>
                <p>
                    It's still too early to unveil our schedule for 2025! We will publish a Call for Proposals in the
                    coming days.
                </p>
                <p>
                    Stay tuned by following us on <a href="https://matrix.org/blog/">the Matrix Blog</a>, our <a
                        href="https://uk.linkedin.com/company/matrix-org">LinkedIn account</a> or by <a
                        href="https://mastodon.matrix.org/@matrix">following us on
                        the fediverse</a>!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
