{% extends "page.html" %}
{% block head_extra %}
<script type="text/javascript" src="https://cfp.2025.matrix.org/matrix-conf-2025/widgets/schedule.js"></script>
{% endblock head_extra %}

{% block content %}
<div id="programme-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Get ready for the show</h1>
                    <p>
                        Whether you want to hear how an organization deployed
                        Matrix at scale or learn what the engineers are doing to
                        improve the protocol, the Matrix Conference has a track for
                        you.
                    </p>
                    <div class="cta-row">
                        <a href="https://cfp.2025.matrix.org/matrix-conf-2025/cfp" class="cta primary">Submit a talk</a>
                        <a href="/sponsor" class="cta">Sponsor us</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="programme">
        <div class="content-wrapper">
            <div class="content">
                <h2>Schedule</h2>
                <p>
                    It's still too early to unveil our schedule for 2025!
                    The submitted proposals are currently in review.
                    We are excited to announce the keynotes soon!
                </p>
                <p>
                    Stay tuned by following us on <a href="https://matrix.org/blog/">the Matrix Blog</a>, our <a
                        href="https://uk.linkedin.com/company/matrix-org">LinkedIn account</a> or by <a
                        href="https://mastodon.matrix.org/@matrix">following us on
                        the fediverse</a>!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
