{% extends "page.html" %}
{% block content %}
<div id="programme-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Get your tickets now</h1>
                    <p>Join us for the first ever Matrix Conference this September 19–22. The four day conference will
                        take
                        place
                        at Mitosis LAB in Berlin. Talks will be streamed live and virtual attendees will be able to ask
                        speakers
                        questions.</p>
                    <div class="cta-row">
                        <a href="#tickets" class="cta primary">Get Tickets</a>
                        <a href="#venue" class="cta">Venue Info</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="programme">
        <div class="content-wrapper">
            <div class="content">
                <h2>Schedule</h2>
                <table>
                    <tr>
                        <td>Thursday 19, September</td>
                        <td>BarCamp</td>
                    </tr>
                    <tr>
                        <td>Friday 20, September</td>
                        <td>Keynotes, Open Spaces, Breakout Sessions</td>
                    </tr>
                    <tr>
                        <td>Saturday 21, September</td>
                        <td>Keynotes, Open Spaces, Breakout Sessions</td>
                    </tr>
                    <tr>
                        <td>Sunday 22, September</td>
                        <td>Sprints and Community Meetings</td>
                    </tr>
                </table>
                <p style="margin-inline:auto;">We received too many fantastic proposals and are working hard on
                    producing the full schedule. Stay tuned!</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
