{% extends "page.html" %}
{% block content %}
<div id="sponsor-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Become a sponsor</h1>
                    <p>
                        With more than 200 experts, enthusiasts, representatives
                        of the public sector, and more, the Matrix Conference was
                        the right place to advertise your Matrix project in
                        2024.
                    </p>
                    <p>
                        Don't miss your chance to get the right eyes on your
                        organization in 2025!
                    </p>
                    <div class="cta-row">
                        <a href="/documents/matrix-conference-sponsors-deck-20250506.pdf"
                            class="cta primary">Prospectus</a>
                        <a href="mailto:conference@foundation.matrix.org" class="cta">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>

    <div id="benefits">
        <div class="content-wrapper">
            <div class="content">
                <div class="intro">
                    <h2>Benefits of sponsorship</h2>
                    <p>Sponsoring the Matrix Conference gives you the opportunity to reach a diverse and experienced
                        audience of Matrix enthusiasts.</p>
                    <p>With the explosive growth of Matrix in private and public sector, sponsoring the conference is an
                        opportunity to grow your brand recognition on an expanding market.</p>
                </div>
                <div class="benefits">
                    <div class="benefit-card">
                        <h3>Brand recognition</h3>
                        <p>Make sure your brand name is known when talking about Matrix.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Recruit top talent</h3>
                        <p>The most brilliant minds of the Matrix community will be around.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Generate leads</h3>
                        <p>Get in touch with major players and offer your services.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Build together</h3>
                        <p>Create new partnerships, build common projects, reduce costs.</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Showcase your products</h3>
                        <p>Demonstrate your work to prospective customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
