{% extends "page.html" %}
{% block content %}
<div id="sponsor-content">
    <div id="hero">
        <div class="content-wrapper">
            <div class="main">
                <div class="intro">
                    <h1>Become a sponsor</h1>
                    <p>Join us as a sponsor of the Matrix Conference 2024 and enjoy one of the many benefits that comes
                        with it.</p>
                    <p>Network with peers, raise brand awareness, recruit new team members, get to know about the latest
                        trends, developments in the Matrix Ecosystem.</p>
                </div>
                <div class="info">
                    <p class="date">19-22 September</p>
                    <p class="location">Berlin, Germany</p>
                </div>
            </div>
            <div class="cta-row">
                <a href="" class="cta primary">Prospectus</a>
                <a href="" class="cta">Contact us</a>
            </div>
        </div>
    </div>

    <div id="benefits">
        <div class="content-wrapper">
            <div class="content">
                <div class="intro">
                    <h2>Benefits of sponsorship</h2>
                    <p>Sponsoring the Matrix Conference gives you the opportunity to reach a diverse and experienced
                        audience of Matrix enthusiasts.</p>
                    <p>With the explosive growth of Matrix in private and public sector, sponsoring the conference is an
                        opportunity to grow your brand recognition on an expanding market.</p>
                </div>
                <div class="benefits">
                    <div class="benefit-card">
                        <h3>Brand recognition</h3>
                        <p>Make sure your brand name is known when talking about Matrix</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Recruit top talent</h3>
                        <p>The most brilliant minds of the Matrix community will be around</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Generate leads</h3>
                        <p>Get in touch with the major players and offer your services</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Build together</h3>
                        <p>Create new partnerships, build common projects, reduce costs</p>
                    </div>
                    <div class="benefit-card">
                        <h3>Showcase your products</h3>
                        <p>Display the products and services to prospective customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
