{% extends "page.html" %}
{% block content %}
<div id="volunteer-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Volunteer for the Conference</h1>
                    <p>To keep the ticket price accessible for everyone and provide the best experience as possible, we
                        need volunteers to lend a hand!</p>
                    <div class="cta-row">
                        <a href="mailto:conference@foundation.matrix.org?subject=Volunteering for the Conference"
                            class="cta">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div>
        <div class="content-wrapper">
            <div class="content">
                <div class="col">
                    <h2>Stage Host</h2>
                    <ul>
                        <li>Introducing speakers on stage, connecting the speaker to the audio/video crew and leading
                            through the Q&A</li>
                        <li>max. 8 hours either on Thursday, Friday or Saturday</li>
                        <li>You will be hosting one stage throughout the day</li>
                    </ul>
                    <em>This is a great way to be able to listen to many talks and meet some of the speakers while
                        volunteering!</em>

                    <h2>Build up of the event</h2>
                    <ul>
                        <li>Installing equipment in the morning of the first conference day</li>
                        <li>max. 4 hours on Thursday September 19</li>
                        <li>this tasks requires light physical work like caring boxes with merch</li>
                    </ul>
                    <em>This task is perfect if you want to volunteer and still don’t miss a minute of the event!</em>

                    <h2>Break down of the event</h2>
                    <ul>
                        <li>packing up after the event has ended</li>
                        <li>max. 4 hours on Sunday the 22nd in the afternoon</li>
                        <li>this tasks requires light physical work like caring boxes with merch</li>
                    </ul>
                    <em>This task is perfect if you want to volunteer and still don’t miss a minute of the event!</em>

                    <h2>Registration</h2>
                    <ul>
                        <li>Welcoming attendees, scanning tickets and handing out badges</li>
                        <li>max. 8 hours either on Thursday, Friday, Saturday or Sunday</li>
                    </ul>
                    <em>Easy but very important task as you are the first point of contact for attendees and speakers
                        once they arrive at the venue</em>

                    <h2>Matrix.org Merch Booth</h2>
                    <ul>
                        <li>Handing out pre-ordered merch & selling merch</li>
                        <li>max. 8 hours either on Thursday, Friday or Saturday</li>
                    </ul>
                    <em>Help us bring Matrix.org merch to people!</em>

                    <h2>Accessibility Assistance</h2>
                    <ul>
                        <li>Helping people with accessibility needs navigate the conference</li>
                        <li>max. 8 hours either on Thursday, Friday, Saturday or Sunday</li>
                    </ul>
                    <em>Make a real difference in our effort to have an event as inclusive as possible</em>

                    <h2>Awareness Team</h2>
                    <ul>
                        <li>Enforcing the code of conduct and health policy</li>
                        <li>max. 8 hours either on Thursday, Friday, Saturday or Sunday</li>
                        <li>this tasks requires some sort of experience e.g with the enforcement of an code of conduct
                        </li>
                    </ul>
                    <em>Make a real difference in our effort to make the event as inclusive as possible</em>

                    <p>Volunteering grants you free access to the complete event, and a limited edition t-shirt and mug.
                        We will create a schedule to make sure volunteers can enjoy the conference too. The more people
                        lend a hand, the less work each one has to do!</p>

                    <p>
                        If you are interested in making a difference, please email us at <a
                            href="mailto:conference@foundation.matrix.org?subject=Volunteering for the Conference">conference@foundation.matrix.org</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
