{% extends "page.html" %}
{% block content %}
<div id="attend-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Volunteer for the Conference</h1>
                    <p>To keep the ticket price accessible for everyone and provide the best experience as possible, we
                        need volunteers to lend a hand!</p>
                    <div class="cta-row">
                        <a class="cta">Opening soon</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="getting-there">
        <div class="content-wrapper">
            <div class="content">
                <div class="col">
                    <p>If you are interested, contact the Events Working Group at <a
                            href="https://matrix.to/#/#events-wg:matrix.org">#events-wg:matrix.org</a> or email the
                        conference organisers at <a
                            href="mailto:conference@foundation.matrix.org">conference@foundation.matrix.org</a>!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
