{% extends "page.html" %}
{% block content %}
<div id="attend-content" class="page-content">
    <div id="hero">
        <div class="hero-wrapper">
            <div class="hero-text-wrapper">
                <div class="hero-text">
                    <h1>Volunteer for the Conference</h1>
                    <p>To keep the ticket price accessible for everyone and provide the best experience as possible, we
                        need volunteers to lend a hand!</p>
                    <div class="cta-row">
                        <a href="mailto:conference@foundation.matrix.org?subject=Volunteering for the Conference"
                            class="cta">Contact us</a>
                    </div>
                </div>
            </div>
            <div class="pattern-wrapper"></div>
        </div>
    </div>
    <div id="getting-there">
        <div class="content-wrapper">
            <div class="content">
                <div class="col">
                    <p>
                        We are looking for help in those areas:
                    </p>
                    <ul>
                        <li>Installing the equipment before the conference</li>
                        <li>Welcoming attendees, scanning tickets and handing badges during the event</li>
                        <li>Helping people with accessibility needs navigate the conference</li>
                        <li>Introducing speakers on stage</li>
                        <li>Handing out pre-ordered merch & selling merch</li>
                        <li>Cleaning up throughout the event</li>
                        <li>Enforcing the code of conduct and health policy</li>
                        <li>Putting the equipment away after the conference</li>
                    </ul>
                    <p>
                        Volunteering for the Conference entitles you to a free ticket, and a limited edition t-shirt and
                        mug. We will create a schedule to make sure volunteers can enjoy the conference too. The more
                        people lend a hand, the less work each one has to do!
                    </p>
                    <p>
                        If you are interested in making a difference, please email us at <a
                            href="mailto:conference@foundation.matrix.org?subject=Volunteering for the Conference">conference@foundation.matrix.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
