{% extends "page.html" %}
{% block content %}
<div id="watch-content" class="page-content">
    <div class="content-wrapper">
        <h2>Participate in the Q&A</h2>

        <p>You can find the YouTube embeds for the various rooms of The Matrix Conference 2024 here for your
            convenience.</p>
        <p>You can participate in the Q&A sessions remotely as well either by joining the Matrix rooms for each
            conference room!</p>
        <ul>
            <li><a href="https://matrix.to/#/#matrix-conference-2024:matrix.org">Matrix Space</a></li>
            <li><a href="https://matrix.to/#/#matrix-conf-lab3:matrix.org">LAB 3 Matrix room</a></li>
            <li><a href="https://matrix.to/#/#matrix-conf-lab4:matrix.org">LAB 4 Matrix room</a></li>
            <li><a href="https://matrix.to/#/#matrix-conf-lab-green:matrix.org">LAB Green Matrix room</a></li>
        </ul>

        <h2>LAB 3 talks</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P94c4d-bl9w" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h2>LAB 4 talks</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kd8LmGiMweE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h2>LAB Green talks</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/H_lnHNP31bo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
