{% extends "page.html" %}
{% block content %}
<div id="watch-content" class="page-content">
    <div id="pills-row">
        <div class="pill matrix">Matrix</div>
        <div class="pill matrix-in-practice">Matrix in Patrice</div>
        <div class="pill public-sector">Pubic Sector</div>
        <div class="pill matrix-in-the-wild">Matrix in The Wild</div>
        <div class="pill matrix-internals">Matrix Internals</div>
        <div class="pill social-impact">Social Impact</div>
        <div class="pill room">LAB3</div>
        <div class="pill room">LAB4</div>
        <div class="pill room">LAB Green</div>
    </div>
    <div class="day">
        <div class="date-separator">
            <div class="date">Friday 20th September</div>
            <div class="line"></div>
        </div>
        <div class="talks-grid">
            <div class="talk-card">
                <div class="thumbnail-container">
                    <img src="" alt="">
                </div>
                <div class="info-container">
                    <h2>Opening & Welcome</h2>
                    <p>The Matrix Foundation and Community welcome you to The Matrix Conference</p>
                    <div class="speaker">
                        <div class="mugshot-container">
                            <img src="" alt="">
                        </div>
                        <span class="speaker-name">Josh Simmons</span>
                    </div>
                    <div class="talk-pills">
                        <div class="pill matrix">Matrix</div>
                        <div class="pill room">LAB3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
