---
import Header from "../components/Header.astro";
import "../styles/reset.css";
import "../styles/global.css";
---

<style>
    body {
        background-color: var(--bg-color);
        color: var(--fg-color);

        min-height: 100dvh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
    }
</style>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Header />
        <main id="main-content">
            <slot />
        </main>
    </body>
</html>
